<!-- Purple Header -->
<div class="edge-header blue-gradient"></div>

<!-- Main Container -->
<div class="container free-bird">
  <div class="row">

    <div class="col-md-10 col-lg-10 mx-auto float-none white z-depth-1 py-1 px-1 text-center">
      <!--<div class="img-fluid text-center image" style="padding-top: 25px">-->
        <!--<img  src="../../../../../assets/img/logo_xpress.png"/>-->
      <!--</div><br/>-->
      <h1 class="my-5"><strong> Politique de confidentialité </strong></h1>

      <mdb-accordion [multiple]="false" class="float-left">
        <mdb-accordion-item [collapsed]="false">
          <mdb-accordion-item-head><strong>1 - Identification de la Société</strong></mdb-accordion-item-head>
          <mdb-accordion-item-body class="text-justify">
            <ul>
             <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti necessitatibus ducimus sapiente modi ex veritatis explicabo ab consequuntur quis. Debitis deserunt ipsa autem, dolore magni rerum consequatur ab pariatur ducimus!</li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item [collapsed]="false">
          <mdb-accordion-item-head><strong>2 - Conditions d'utilisation du site</strong></mdb-accordion-item-head>
          <mdb-accordion-item-body class="text-justify">
            <ul>
              <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita accusantium quasi maiores ea! Voluptate, blanditiis. Qui maxime cumque asperiores doloribus! Dolore doloribus repudiandae nisi ducimus itaque consequuntur non ipsam enim.</li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item >
        <mdb-accordion-item [collapsed]="false">
          <mdb-accordion-item-head><strong>3 - Propriété intellectuelle</strong></mdb-accordion-item-head>
          <mdb-accordion-item-body class="text-justify">
            <ul>
              <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius tempore fuga perspiciatis animi harum illum? Repellat repudiandae blanditiis quibusdam asperiores suscipit, quaerat odio tempora odit tenetur harum dignissimos labore vel.</li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>

        <mdb-accordion-item [collapsed]="false">
          <mdb-accordion-item-head><strong>5 - Informations nominatives</strong>

          </mdb-accordion-item-head>
          <mdb-accordion-item-body class="text-justify">
            <ul>
              <li>
                L'utilisateur est informé que les informations nominatives qui lui sont demandées sont nécessaires au traitement de sa demande. Ces informations sont destinées exclusivement à la société.<br/>
              </li>
              <li>
                Nous vous informons que l'utilisateur dispose à tout moment d'un droit d'accès, de modification, de rectification et de suppression de ses données personnelles le concernant auprès de la société.
                Pour exercer vos droits, vous pouvez nous contacter en envoyant un courrier à : contact@tameribig.net<br/>
              </li>
              <li>
                Le visiteur s'engage à ne communiquer que des informations exactes et ne portant pas préjudice aux intérêts des tiers. Nonobstant ce qui précède, LIVRAISON EXPRESS pourra être obligée de divulguer toute information concernant le visiteur afin de se conformer à toute loi ou réglementation en vigueur, ou pour répondre à toute demande judiciaire ou administrative.<br/>
              </li>
              <li>
                La Société s'engage à faire ses meilleurs efforts pour rendre le service accessible 7 jours sur 7 et 24 heures sur 24 sauf dans l'hypothèse d'un cas de force majeure ou d'un événement hors de son contrôle, notamment les perturbations ou interruptions des réseaux d'accès, défaillance des équipements informatiques ou téléphoniques de l'utilisateur et de manière plus générale, tout événement lié aux conditions d'accès à Internet et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement de son site.
              </li>
            </ul>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
  </div>
</div>
