<!--Double navigation-->
<header>

    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav  navbar-dark fixed-top"
                [containerInside]="false">

        <logo>
            <a href="/">
                <img alt="" src="./assets/images/logo.png"/>
            </a>
            <!-- Breadcrumb-->
            <!-- <div class="breadcrumbs breadcrumb-dn mr-auto">
                      <p>Material Design for Bootstrap</p>
                  </div> -->
            <!--/. Breadcrumb-->
        </logo>
        <navlinks>

            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">

                <li *ngIf="!authenticated" class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/coorporate/contact-us">
                        <mdb-icon class="mr-1" far icon="envelope"></mdb-icon>
                        <span class="clearfix d-none d-sm-inline-block">Contact</span>
                    </a>
                </li>
                <li *ngIf="!authenticated" class="nav-item">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/coorporate/faq">
                        <mdb-icon class="mr-1" far icon="comments"></mdb-icon>
                        <span class="clearfix d-none d-sm-inline-block">Support</span>
                    </a>
                </li>
                <li *ngIf="authenticated" class="nav-item dropdown btn-group" dropdown>
                    <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect type="button">
                        Network
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a class="dropdown-item" routerLink="/network/nkaurelien/activities">Activities</a>
                    </div>
                </li>


                <li *ngIf="authenticated" class="nav-item avatar dropdown" mdbDropdown>

                    <a aria-expanded="true"
                       aria-haspopup="true"
                       class="nav-link text-lowercase text-truncate dropdown-toggle mt-1 ml-5 waves-effect waves-light"
                       data-toggle="dropdown" id="navbarDropdownMenuLink-1" mdbDropdownToggle
                       mdbWavesEffect>
                        <span class="d-none d-sm-inline-block text-truncate" id="user-name"
                              style="max-width: 10em; transform: translateY(5px);">{{ authUser.firstName || authUser.username}}</span>
                        <img [src]="authUser.avatar" class="rounded-circle img-fluid">
                        <!--<img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0">-->
                    </a>
                    <div aria-labelledby="navbarDropdownMenuLink-5"
                         class="dropdown-menu dropdown-menu-right dropdown-purple"
                         id="user-dropdown">
                        <a class="nav-link waves-light" mdbWavesEffect routerLink="/console/user">
                            <mdb-icon class="mr-1" fas icon="user"></mdb-icon>
                            <span class="clearfix d-none d-sm-inline-block">Account</span>
                        </a>
                        <div class="divider dropdown-divider"></div>
                        <!--<a class="dropdown-item d-block d-sm-none- " routerLink="/console/course-list">-->
                        <a class="dropdown-item d-block d-sm-none- " routerLink="/console/images">
                            <mdb-icon class=" mr-1 " fas icon="layer-group"></mdb-icon>
                            Mes Images
                        </a>
                        <a class="nav-link waves-light" mdbWavesEffect routerLink="/uploader">
                            <mdb-icon class="mr-1" fas icon="cloud-upload-alt"></mdb-icon>
                            <span class="clearfix d-none d-sm-inline-block">Télèversement</span>
                        </a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-effect waves-light" routerLink="/auth/logout">
                            <mdb-icon class="mr-1 red-text" fas icon="power-off"></mdb-icon>
                            Déconnexion
                        </a>
                    </div>
                </li>
                <!--Avatar-->
                <!-- 
                <div *ngIf="authenticated" class="avatar mx-auto white">
                    <img [src]="authUser.avatar" alt="avatar mx-auto white" class="rounded-circle img-fluid">
                </div>
                 -->
                <a *ngIf="!authenticated" [routerLink]="['/auth/login']"
                   class="btn btn-sm btn-rounded  btn-primary waves-effect  waves-light"
                   id="loginBtn" routerLinkActive="login"
                   type="button">
                    <i class="fa fa-sign-in "></i>&nbsp;
                    Se connecter
                </a>
            </ul>

        </navlinks>

    </mdb-navbar>
    <!--/. Navbar -->

</header>
<!--/.Double navigation-->
