<header style="position: relative;">

    <div class="navigation-wrap bg-light start-header start-style">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">


                        <a class="navbar-brand" href="javascript:;">
                            <img alt="" src="./assets/images/logo.png"/>
                        </a>

                        <button (click)="navbarSupportedContent.toggle()" class="navbar-toggler" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div #navbarSupportedContent="bs-collapse" [isCollapsed]="false" class="navbar-collapse"
                             id="navbarSupportedContent" mdbCollapse>
                            <ul class="navbar-nav ml-auto py-4 py-md-0">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                                       data-toggle="dropdown" href="#" role="button">Home</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Portfolio</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Agency</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                                       data-toggle="dropdown" href="#" role="button">Services</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </div>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Journal</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="switch">
        <div id="circle"></div>
    </div>
</header>


<!--<div class="section full-height " id="intro">-->
<!--<div class="absolute-center">-->
<!--    <div class="section">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--                    <h1><span>B</span><span>o</span><span>o</span><span>t</span><span>s</span><span>t</span><span>r</span><span>a</span><span>p</span> <span>4</span><br>-->
<!--                        <span>m</span><span>e</span><span>n</span><span>u</span></h1>-->
<!--                    <p>scroll for nav animation</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="section mt-5">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-12">-->
<!--&lt;!&ndash;                    <div id="switch">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div id="circle"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
