<div #modal="mdbModal" (onHide)="onHideModal()" [config]="{backdrop: true, ignoreBackdropClick: true}"
     aria-hidden="true"
     aria-labelledby="myBasicModalLabel" class="modal fade top"
     mdbModal role="dialog" style="overflow-y: auto" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="d-none modal-header">
                <p class="heading lead">Ajouter un image</p>
            </div>
            <div class="modal-body">
                <button (click)="modal.hide()" aria-label="Close" class="close pull-right" type="button">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="mt-3">
                    <div class="text-left">
                        <div class="row">
                            <div class="col-12">
                                <!--<h1 class="mb-5">Images presenter</h1>-->

                                <div class="row mx-auto">
                                    <div class=" col-md-1"></div>
                                    <div class=" col-md-10">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- Material form row -->
                                                <form (submit)="submit()" [formGroup]="validatingForm" novalidate>
                                                    <!-- Grid row -->
                                                    <div class="form-row mb-5">
                                                        <div class="col-md-12 ">
                                                            <div *ngIf="errors.length"
                                                                 class="animated fadeIn alert alert-warning"
                                                                 role="alert">
                                                                <b>{{ errors[0]}}</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Grid row -->
                                                    <div class="form-row">
                                                        <!-- Grid column -->
                                                        <div class="col">
                                                            <!-- Material input -->
                                                            <div class="md-form form-group mt-0">
                                                                <input class="form-control" formControlName="title"
                                                                       id="titre"
                                                                       maxlength="100" mdbInput
                                                                       name="titre" placeholder="Titre " type="text">
                                                                <label for="titre">Titre</label>
                                                                <mdb-error
                                                                        *ngIf="titreInput.invalid && (titreInput.dirty || titreInput.touched)">
                                                                    invalid
                                                                </mdb-error>
                                                                <mdb-success
                                                                        *ngIf="titreInput.valid && (titreInput.dirty || titreInput.touched)">
                                                                    valid
                                                                </mdb-success>
                                                            </div>
                                                        </div>
                                                        <!-- Grid column -->
                                                        <!-- Grid column -->
                                                        <div class="col-3">
                                                            <!-- Material input -->
                                                            <div class="md-form form-group  mt-0">
                                                                <input class="form-control" formControlName="price"
                                                                       id="prix" mdbInput min="50"
                                                                       name="prix" placeholder="Prix" type="number">
                                                                <label for="prix">Prix(FCFA)</label>
                                                                <mdb-error
                                                                        *ngIf="prixInput.invalid && (prixInput.dirty || prixInput.touched)">
                                                                    invalid
                                                                </mdb-error>
                                                                <mdb-success
                                                                        *ngIf="prixInput.valid && (prixInput.dirty || prixInput.touched)">
                                                                    valid
                                                                </mdb-success>
                                                            </div>
                                                        </div>
                                                        <!-- Grid column -->
                                                    </div>
                                                    <!-- Grid row -->
                                                    <!-- Grid row -->
                                                    <div class="form-row">
                                                        <!-- Grid column -->
                                                        <div class="col">
                                                            <!-- Material input -->
                                                            <div class="md-form mt-0">
                                                              <textarea class="form-control"
                                                                        formControlName="description"
                                                                        id="description" length="100"
                                                                        maxlength="100" mdbCharCounter mdbInput
                                                                        name="description" placeholder="Description "
                                                                        rows="2" type="text"></textarea>

                                                                <mdb-error
                                                                        *ngIf="descInput.invalid && (descInput.dirty || descInput.touched)">
                                                                    invalid
                                                                </mdb-error>
                                                                <mdb-success
                                                                        *ngIf="descInput.valid && (descInput.dirty || descInput.touched)">
                                                                    valid
                                                                </mdb-success>
                                                            </div>
                                                        </div>
                                                        <!-- Grid column -->
                                                    </div>
                                                    <!-- Grid row -->
                                                    <!-- Grid row -->
                                                    <div class="form-row">
                                                        <!-- Grid column -->
                                                        <div class="col">
                                                            <!-- Material input -->
                                                            <div class="md-form p-2 rgba-cyan-slight mt-0">
                                                                <tag-input
                                                                        [maxItems]='5'
                                                                        [modelAsStrings]="true"
                                                                        formControlName="keywords"
                                                                        inputClass="border  border-0"
                                                                        placeholder="Tapez ici"
                                                                        secondaryPlaceholder="Ajoutez vos mots clés pour la recherche"></tag-input>
                                                            </div>
                                                        </div>
                                                        <!-- Grid column -->
                                                    </div>
                                                    <!-- Grid row -->
                                                    <!-- Grid row -->
                                                    <div class="form-row">

                                                        <div class="col-md-8 text-center"
                                                             style="font-size: 88%;position: relative;top: -3px;">
                                                            <strong>Note:</strong> Vous allez pouvoir ajouter l'image de
                                                            couverture et l'archives
                                                            <strong><a href="https://www.7-zip.org/" target="_blank"
                                                                       title="Télécharger 7Zip gratuitement">zip</a></strong>
                                                            des fichiers sources apres avoir enregister ce template.
                                                        </div>
                                                        <div class=" col-md-1"></div>
                                                        <div class="col-md-3 text-center">
                                                            <button [disabled]="submitting"
                                                                    class="btn btn-block btn-primary" type="submit">
                                                            <span *ngIf="submitting"
                                                                  aria-hidden="true"
                                                                  class="spinner-grow spinner-grow-sm text-light"
                                                                  role="status"></span>
                                                                <span>Enregistrer</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- Material form row -->
                                            </div>
                                            <div class="col-md-12"></div>
                                        </div>
                                    </div>
                                    <div class=" col-md-1"></div>
                                </div>
                                <div *ngIf="imagesUploadedWithSuccess.length" class="row mx-auto">
                                    <div class="col">
                                        <figure *ngFor="let img of imagesUploadedWithSuccess; let i = index"
                                                class="figure mx-2">
                                            <img [alt]="img.title" [src]="getImageUrl(img.uid)"
                                                 class="figure-img img-fluid z-depth-1"
                                                 style="width: 400px">
                                            <figcaption class="figure-caption">{{img.description}}</figcaption>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
