.testimonial-card .card-up {


  height: 152px;
  background: url(/assets/images/background/user-dashboad-banner.jpg) no-repeat !important;
  background-position: bottom right;
  background-size: 103.5% 196px !important;
  // background-size: 100% 730px;
  // background-attachment: fixed !important;
}
.avatar {
  margin-right: 3rem;
}

