<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-10 offset-sm-1 ">
        <div class="row  mx-3">
            <div class="col-12 pt-3">
                <div class="m-stack m-stack--ver m-stack--desktop">

                    <!--begin::Search-->
                    <div class="m-body-search m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light ">
                        <!--begin::Search Form -->
                        <form class="w-100 m-body-search__form">
                            <div class="w-100 m-body-search__wrapper">
          <span class="m-body-search__icon-search" id="m_quicksearch_search">
            <i class="la la-search"></i>
          </span>
                                <span class="m-body-search__input-wrapper">
            <input autocomplete="off" type="text" name="q" class="m-body-search__input" value="" placeholder="Rechercher des medias.." [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter">
          </span>
                                <!-- <span class="m-body-search__icon-close" >
                                                                      <i class="la la-remove"></i>
                                                                  </span>
                                                                  <span class="m-body-search__icon-cancel" >
                                                                      <i class="la la-remove"></i>
                                                                  </span> -->
                            </div>
                        </form>
                        <!--end::Search Form -->
                        <!--begin::Search Results -->
                        <div class=" hide m-dropdown__wrapper">
                            <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                                         data-mobile-max-height="200"
                                         data-scrollable="true">
                                        <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Search Results -->
                    </div>
                    <!--end::Search-->
                </div>
            </div>
        </div>
        <div class="row box-search mb-5 justify-content-center">

            <a [routerLink]="[ '/explorer/images' ]" class="col-2 option" routerLinkActive="active">
                <img class="icone img-fluid" src="assets/images/camera.png">
                <h5 class="font font-image description">Images</h5>
            </a>
            <a [routerLink]="[ '/explorer/videos' ]" class="col-2 option" routerLinkActive="active">
                <img class="icone img-fluid" src="assets/images/video.png">
                <h5 class="font font-video description">Videos</h5>
            </a>
            <a [routerLink]="[ '/explorer/audios' ]" class="col-2 option" routerLinkActive="active">
                <img class="icone img-fluid" src="assets/images/audio.png">
                <h5 class="font font-audio description">Audios</h5>
            </a>
            <a [routerLink]="[ '/explorer/creas' ]" class="col-2 option" routerLinkActive="active">
                <img class="icone img-fluid" src="assets/images/illustration.png">
                <h5 class="font font-crea description">Creas</h5>
            </a>

        </div>
    </div>
</div>

<ng-template #rt let-r="result" let-t="term">
    <div class="search-suggestion">
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1"
             style="width: 16px">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </div>
</ng-template>
