
 /* Formlaire de recherche */

 .m-body-search  {
    vertical-align: middle;
}

.description{
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    opacity: 0.6;
}

 .box-search .icone {
     min-width: 50px;
 }

.box-search a:nth-of-type(1) {
 color: orangered;
}

.box-search a:nth-of-type(2) {
  color: magenta;
}

.box-search a:nth-of-type(3) {
  color: cornflowerblue;
}

.box-search a:nth-of-type(4) {
  color: green;
}

.m-body-search .m-body-search__form {
    height: 3.2rem;
}
.m-body-search .m-body-search__form {
    display: inline-block;
    float: right;
}
.m-body-search .m-body-search__wrapper {
    display: table;
    table-layout: fixed;
    text-align: right;
    border-radius: 40px;
    background-color: rgba(33, 37, 41, 0.0192);
    border: 1px solid rgba(197, 175, 209, .25);

}


 // Annule le border-raduis
 .border-gradient {
     border: 1px solid;
     border-image-slice: 1;
     border-width: 2px;
 }

 .border-gradient-purple {
     border-image: linear-gradient(to left, #743ad5, #d53a9d);
 }

 .border-gradient-green {
     border-image: linear-gradient(to left, #00C853, #B2FF59);
 }

.m-body-search .m-body-search__input-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.m-body-search .m-body-search__input {
    border: 0;
    background: 0 0;
    outline: 0!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 1rem;
    padding: .75rem 1.5rem .75rem .75rem;
    display: block;
    color: #6c757d;

    transition: color .2s linear;
    //&:focus:not([readonly]) + label {
    //    color: green;
    //}

    &:focus:not([readonly]) {
        border-bottom: none !important;
        box-shadow: none;
        //box-shadow: 0 1px 0 0 green;
        transition: color .2s linear;
        color: #2e3337;
    }
}
.m-body-search .m-body-search__icon-close {
    display: none;
    padding: 0 1.25rem 0 0;
}

.m-body-search .m-body-search__icon-cancel>i {
    font-size: 1.3rem;
    color: #c7b2d3;
}

.m-body-search .m-body-search__icon-search {
    width: 30px;
    padding: 0 0 0 1.25rem;
}
.m-body-search .m-body-search__icon-cancel, .m-body-search .m-body-search__icon-close, .m-body-search .m-body-search__icon-search {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 0!important;
    cursor: pointer;
}

.search-suggestion {
    padding: 0.5em 1.25em;
    //min-width: 300px;
}
.option {
    cursor: pointer;
    border: #a1a0a0;
    margin-top: 1.0rem
}

 ngb-typeahead-window {
     padding: 0;

     .dropdown-item {
         padding: 0;
     }

     .dropdown-item.active, .dropdown-item:active {
         color: #fff;
         text-decoration: none;
         background-color: #e78f22;
     }
 }
