<!-- BEGIN: Subheader -->
<div></div>
<!-- END: Subheader -->
<div class="container p-md-5 p-sm-2">
  <div class="row p-md-5">

    <!-- center -->
    <div class="col-md-12 mt-md-0 mt-5 pt-md-0 pt-4">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12">

          <mdb-card class="testimonial-card">
            <!--Bacground color-->
            <div class="card-up">
            </div>

            <!--Avatar-->
            <div class="avatar ml-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
            </div>

            <mdb-card-body>
              <!--Name-->
              <mdb-card-title>
                <h4>Anna Doe</h4>
              </mdb-card-title>
              <hr>
              <!--Quotation-->
              <p>
                <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                adipisci</p>
            </mdb-card-body>
          </mdb-card>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

  </div>
</div>
