<div class="fade show text-right h6 mb-1 py-3 px-5 bg-white "
	 role="alert"> Essayer encore?
	<a [routerLink]="['../login']" class="h5 ml-2" href="javascript:;">
		Connecte toi
	</a>
</div>
<div class="flex-center- p-5 d-flex flex-column align-items-center bg-white">
	<div class="relative">

		<div class="login__wrapper">
			<!--			<div class="flex-center">-->
			<!--				<img class="noselect img-fluid compteur" src="assets/images/compteur.png"-->
			<!--					 style="transform: scale(0.75) translateX(-40px); height: 196px;">-->
			<!--			</div>-->
			<div class="m-login__signin">
				<div class="m-login__head">

					<p class="mt-5 w-100"></p>


					<div class="display-4 my-5">
						<h3>{{ 'AUTH.FORGOT.TITLE' | translate }}</h3>
					</div>

					<kt-auth-notice></kt-auth-notice>
					<p>Un lien de recuperation sera envoyé a l'email</p>
					<form #formRef="ngForm" [formGroup]="forgotPasswordForm" autocomplete="off">

						<!--						<re-captcha #captchaElem="reCaptcha"-->
						<!--									(resolved)="handleSuccess($event)"-->
						<!--									[siteKey]="siteKey"-->
						<!--									[size]="size"></re-captcha>-->

						<div class="form-group">
							<div class="input-group mt-3">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<mdb-icon class="prefix" fas icon="envelope"></mdb-icon>
									</div>
								</div>
								<input autocomplete="off" class="form-control" formControlName="email" id="email"
									   mdbInput mdbValidate
									   name="email" placeholder="{{ 'AUTH.LABEL.EMAIL' | translate }}" type="text">
								<!--							<label for="email">{{ 'AUTH.LABEL.EMAIL' | translate }}</label>-->
							</div>
							<mdb-error *ngIf="isControlHasError('email','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mdb-error>
							<mdb-error *ngIf="isControlHasError('email','email')">
								<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
							</mdb-error>
							<mdb-error *ngIf="isControlHasError('email','minLength')">
								<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
							</mdb-error>
							<mdb-error *ngIf="isControlHasError('email','maxLength')">
								<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
							</mdb-error>

						</div>

						<div class="form-group my-4">

						</div>

						<!--begin::Action-->

						<div class="row m-login__form-sub w-100 m-0">
							<div class="flex-center w-100 m-0">
								<div class="col text-left p-0 pr-5" style="width: 250px">
								</div>
								<button (click)="submit()"
										[disabled]="loading" [ngClass]="{'disabled': loading}" class="m-0 z-depth-1"
										color="primary"
										mdbBtn
										rounded="true">
									<span *ngIf="loading" aria-hidden="true"
										  class="spinner-grow spinner-grow-sm text-light"
										  role="status"></span>
									<span>
									{{ 'AUTH.GENERAL.SUBMIT_BUTTON' | translate }}
								    </span>
								</button>
							</div>
						</div>
						<!--end::Action-->
					</form>
					<!--begin::Options-->
					<div class="kt-login__options" style="height: 250px; border: none"></div>
					<!--end::Options-->
				</div>
			</div>
		</div>

	</div>
</div>
