<hr class="hr w-100" size="2">
<p class="mb-5">
    <a routerLink="/explorer/images">Images</a>
    &gt;
    <a>Cameroun</a>
    &gt;
    <a>Delivery</a>
    &gt;
    <a>SVG</a>

</p>
<div class="col-12" *ngIf="image; else notExists">
    <!--<h1 class="mb-5">Images presenter</h1>-->

    <div class="row mx-auto">
        <div class=" col-md-1"></div>
        <div class=" col-md-4">
            <figure class="figure">
                <img [src]="image.picture" class="figure-img img-fluid z-depth-1" alt="..." style="width: 400px">
                <figcaption class="mt-2 figure-caption text-right">
                    <div class="row">

                        <div class="container-fluid ">
                            <div class="float-none">
                                <share-buttons [theme]="'modern-dark'"
                                               [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
                                               [exclude]="['reddit','tumblr','mix','vk','xing','line','sms','email','print','copy']"
                                               [show]="5"
                                               [showText]="false"
                                               [showCount]="false"
                                               [size]="-4"
                                               [url]="null"
                                               [title]="null"
                                               [description]="null"
                                               [image]="null"
                                               [tags]="null"
                                               [autoSetMeta]="null"
                                               (opened)="null"
                                               (closed)="null"
                                               (count)="null"
                                ></share-buttons>
                                <hr class="hr-dark">
                            </div>
                        </div>
                        <div class="container-fluid  ">
                            <div *ngIf="image.author" class="float-md-left">
                                <b>Auteur: </b>&nbsp;
                                <a>
                                    <div class="chip">
                                        <img [src]="image.author.avatar" alt="Contact Person">
                                        <a  [href]="image.author.social" href="" target="_blank">
                                            {{ image.author.fullname || '' }}
                                        </a>
                                    </div>
                                </a>
                            </div>
                            <div class="float-md-right">
                                <b class="price green-text">
                                    {{ image.price }}
                                </b>
                            </div>
                        </div>
                    </div>

                </figcaption>
            </figure>

        </div>
        <div class=" col-md-1"></div>
        <div class=" col-md-6">
            <mdb-accordion [multiple]="true">
                <mdb-accordion-item [collapsed]="false">
                    <mdb-accordion-item-head>Description</mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        {{ image.description }}
                    </mdb-accordion-item-body>
                </mdb-accordion-item>

                <mdb-accordion-item [collapsed]="false">
                    <mdb-accordion-item-head>Taille</mdb-accordion-item-head>
                    <mdb-accordion-item-body>
                        <div class="list-group">
                            <div class="list-group-item waves-light" >
                                <div *ngFor="let size of sizeList" class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="size-{{ size }}" name="efaultExampleRadios" [checked]="size === selectedSize" mdbInput>
                                    <label (click)="selectSize(size)" class="custom-control-label" for="size-{{ size }}">
                                        {{ image.size[size].size }}
                                        <small *ngIf="freeSizeList.includes(size)" class="badge badge-primary ml-3">FREE </small>
                                    </label>
                                </div>

                                <!--<div class="custom-control custom-radio">-->
                                <!--<input type="radio" class="custom-control-input" id="defaultUnchecked1" name="defaultExampleRadios" mdbInput>-->
                                <!--<label class="custom-control-label" for="defaultUnchecked1">Default unchecked</label>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </mdb-accordion-item-body>
                </mdb-accordion-item>
            </mdb-accordion>
            <br>
            <p>
                <mdb-checkbox [default]="true">
                    Usages et licences comparées
                </mdb-checkbox>
            </p>
            <p class="my-5">
                <button *ngIf="canDownload; else payer"  class="btn btn-download btn-lg btn-primary">
                    Telecharger
                </button>
                <ng-template #payer>
                    <button class="btn btn-download btn-lg btn-warning">
                        Payer et Telecharger
                    </button>
                </ng-template>
            </p>
        </div>

    </div>
    <div class="masonry">

        <!--<ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">-->
        <!--<ngxMasonryItem  *ngFor="let picture of masonryImages" class="masonry-item">-->
        <!--&lt;!&ndash;<img [defaultImage]="defaultImage" [lazyLoad]="picture.picture" [offset]="offset">&ndash;&gt;-->
        <!--<img (click)="showImage(picture)"  src="{{picture.picture}}">-->
        <!--</ngxMasonryItem >-->
        <!--</ngx-masonry>-->

    </div>

</div>


<ng-template #notExists>
    <div *ngIf="!loading" class="jumbotron">
        <h1 class="display-4 text-info">
            <i class="icon"></i>
            Image not found
        </h1>
        <hr class="my-4">
        <p></p>
    </div>

    <div *ngIf="loading" class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
    </div>

</ng-template>
