<div class="row">
  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-10 mx-auto ">
    <div class="row  mx-3">
      <div class="col-12 pt-3">
        <div class="m-stack m-stack--ver m-stack--desktop">

          <!--begin::Search-->
          <div
            class="m-body-search m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light ">
            <!--begin::Search Form -->
            <form #searchForm class="w-100 m-body-search__form">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <!--                                        <mdb-icon fas icon="search"></mdb-icon>-->
                    <div *ngIf="!searching; else tplSearching" class="svg">
                      <svg focusable="false" viewBox="0 0 24 24"
                           xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <input #searchInput
                       [(ngModel)]="model"
                       [class.is-invalid]="searchFailed" [inputFormatter]="formatter"
                       [ngbTypeahead]="search" [resultTemplate]="rt" autocomplete="off"
                       class="form-control"
                       mdbInput name="q" placeholder="Rechercher des medias.." type="text">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <mdb-icon fas icon="microphone"></mdb-icon>
                  </div>
                </div>
              </div>

            </form>
            <!--end::Search Form -->
            <!--begin::Search Results -->
            <div class=" hide m-dropdown__wrapper">
              <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
              <div class="m-dropdown__inner">
                <div class="m-dropdown__body">
                  <div class="m-dropdown__scrollable m-scrollable" data-max-height="300"
                       data-mobile-max-height="200"
                       data-scrollable="true">
                    <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                  </div>
                </div>
              </div>
            </div>
            <!--end::Search Results -->
          </div>
          <!--end::Search-->
        </div>
      </div>
    </div>
    <div class="row box-search mb-5 mx-auto justify-content-center">

      <a [routerLink]="[ '/search/images' ]" class="col-2 option" routerLinkActive="active">
        <img class="icone img-fluid" src="assets/images/camera.png">
        <h5 class="font font-image description">Images</h5>
      </a>
      <a [routerLink]="[ '/search/videos' ]" class="col-2 option" routerLinkActive="active">
        <img class="icone img-fluid" src="assets/images/video.png">
        <h5 class="font font-video description">Videos</h5>
      </a>
      <a [routerLink]="[ '/search/audios' ]" class="col-2 option" routerLinkActive="active">
        <img class="icone img-fluid" src="assets/images/audio.png">
        <h5 class="font font-audio description">Audios</h5>
      </a>
      <a [routerLink]="[ '/search/creas' ]" class="col-2 option" routerLinkActive="active">
        <img class="icone img-fluid" src="assets/images/illustration.png">
        <h5 class="font font-crea description">Creas</h5>
      </a>

    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <div [style.width.px]="searchSuggestionMinWidth " class="search-suggestion">
    <!--        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="mr-1" style="width: 16px">-->
    <ngb-highlight [result]="r.description" [term]="t"></ngb-highlight>
  </div>
</ng-template>

<ng-template #tplSearching>
  <!--  <div class="spinner-grow text-primary" role="status">-->
  <!--&lt;!&ndash;    <span class="sr-only">Loading...</span>&ndash;&gt;-->
  <!--  </div>-->
  <!--  <div class="spinner-border spinner-border-sm" role="status">-->
  <!--&lt;!&ndash;    <span class="sr-only">Loading...</span>&ndash;&gt;-->
  <!--  </div>-->
  <div class="spinner-grow spinner-grow-sm text-primary mr-1" role="status">
    <!--    <span class="sr-only">Loading...</span>-->
  </div>

</ng-template>
