<!-- BEGIN: Subheader -->
<div></div>
<!-- END: Subheader -->
<div class="container p-md-5 p-sm-2">
  <div class="row ">
    <!-- left -->
    <div class="col-xl-3 col-lg-4 order-md-2 mt-md-0 mt-5 pt-md-0 pt-4 d-none d-md-block">


      <!--Card image-->
      <div class="view view-cascade overlay hm-white-slight waves-light" mdbWavesEffect>
        <!--          <img src="./assets/images/icons/voir-x.jpg" class="img-fluid w-100">-->
        <img [defaultImage]="defaultImageAvatar" [lazyLoad]="authUser.avatar" class="img-fluid w-100">

        <a>
          <div class="mask"></div>
        </a>
      </div>

      <!--Card-->
      <mdb-card cascade="true" narrower="true">


        <!--/Card image-->

        <!--Card content-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Title-->
          <h4 class="card-title font-bold mb-2"><strong>
                  {{ authUser.fullName }} <br>
                  <small>
                    {{ authUser.email }}
                  </small>
          </strong></h4>
          <h5 class="indigo-text"><strong>Photographer</strong></h5>


          <h6 class='text-justify'><strong>About:</strong></h6>
          <p class='text-justify'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione perferendis
            quod animi dignissimos consectetur
            quibusdam numquam laboriosam, minus, provident...</p>

          <div class="text-right">
            <button type="button" mdbBtn outline="true" color="primary" rounded="true" size="sm" mdbWavesEffect>
              More...
            </button>
          </div>


          <hr>
          <!--Linkedin-->
          <a class="icons-sm li-ic px-3">
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>
          <!--Twitter-->
          <a class="icons-sm tw-ic px-3">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
          <!--Dribbble-->
          <a class="icons-sm fb-ic px-3">
            <mdb-icon fab icon="facebook-f"></mdb-icon>
          </a>

        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>


    <!-- rigth -->
    <div class="col-xl-9 col-lg-8 order-md-1 mt-md-0 mt-5 pt-md-0 pt-4">
        <!-- Nav Tabs -->
        <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 amber lighten-1- z-depth-1'" [contentClass]="'card'">
          <!--Panel 1-->
          <mdb-tab heading="Update Profile">
            <div class="row">
              <div class="col-12">
                <br>
                <!-- profil form-->
                <form [formGroup]="profilForm" (submit)="submit()" class="m-form m-form--fit m-form--label-align-right"
                  novalidate>
                  <!-- Grid row -->
                  <div class="form-row mb-5">
                    <div class="col-md-12 ">
                      <div *ngIf="errors.length" class="animated fadeIn alert alert-warning" role="alert">
                        <b>{{ errors[0]}}</b>
                      </div>
                    </div>
                  </div>
                  <!-- Grid row -->
                  <div class="col offset-md-2">
                   
                    <div class="form-group m-form__group row">
                      <div class="col-10 ml-auto-">
                        <h3 class="m-form__section">
                          1. Personal Details
                        </h3>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Full Name
                      </label>
                      <div class="col-7 md-form m-0">
                        <input class="form-control m-input" formControlName="fullName" type="text" mdbInput mdbValidate>
                        <mdb-error
                          *ngIf="fullNameInput?.invalid && (fullNameInput?.dirty || fullNameInput?.touched)">
                          invalid</mdb-error>
                        <mdb-success
                          *ngIf="fullNameInput?.valid && (fullNameInput?.dirty || fullNameInput?.touched)">
                          valid</mdb-success>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Occupation
                      </label>
                      <div class="col-7 md-form m-0">
                        <input class="form-control m-input" formControlName="occupation" type="text" mdbInput mdbValidate>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Company Name
                      </label>
                      <div class="col-7 md-form m-0">
                        <input class="form-control m-input" formControlName="companyName" type="text" mdbInput mdbValidate>
                        <span class="m-form__help">
                          If you want your invoices addressed to a company. Leave blank to use your full name.
                        </span>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        Phone No.
                      </label>
                      <div class="col-7 md-form m-0">
                        <input class="form-control m-input" formControlName="phoneNumber" type="text" mdbInput mdbValidate>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <label for="example-text-input" class="col-2 col-form-label">
                        About You.
                      </label>
                      <div class="col-7 md-form m-0">
                        <textarea class="form-control m-input" formControlName="about" type="text" mdbInput
                          mdbValidate></textarea>
                      </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>


                    <div [formGroup]="profilForm.get('address')" class="mt-5">
                      <div class="form-group m-form__group row">
                        <div class="col-10 ml-auto-">
                          <h3 class="m-form__section">
                            2. Address
                          </h3>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Address
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="street" mdbInput mdbValidate>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          City
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="city" mdbInput mdbValidate>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Country
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="country" mdbInput mdbValidate>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Postcode
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="postCode" mdbInput mdbValidate>
                        </div>
                      </div>
                    </div>

                    <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                    <div [formGroup]="profilForm.get('socialLinks')" class="mt-5">
                      <div class="form-group m-form__group row">
                        <div class="col-10 ml-auto-">
                          <h3 class="m-form__section">
                            3. Social Links
                          </h3>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Linkedin
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="linkedin" mdbInput mdbValidate>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Facebook
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="facebook" mdbInput mdbValidate>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Twitter
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="twitter" mdbInput mdbValidate>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                          Instagram
                        </label>
                        <div class="col-7 md-form m-0">
                          <input class="form-control m-input" type="text" formControlName="instagram" mdbInput mdbValidate>
                        </div>
                      </div>
                        <div class="form-group m-form__group row">
                          <label for="example-text-input" class="col-2 col-form-label">
                            Youtube
                          </label>
                          <div class="col-7 md-form m-0">
                            <input class="form-control m-input" type="text" formControlName="youtube" mdbInput mdbValidate>
                          </div>
                        </div>

                    </div>
                  </div>
                  <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-7 md-form m-0">
                          <button type="submit" class="btn btn-primary m-btn m-btn--air m-btn--custom">
                            Save changes
                          </button>
                          &nbsp;&nbsp;
                          <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Grid row -->
                  <div class="form-row mt-5">
                    <div class="col-md-12 ">
                      <div *ngIf="errors.length" class="animated fadeIn alert alert-warning" role="alert">
                        <b>{{ errors[0]}}</b>
                      </div>
                    </div>
                  </div>
                  <!-- Grid row -->
                </form>
                <!-- ./profil form-->
              </div>
            </div>
          </mdb-tab>
          <!--Panel 2-->
          <mdb-tab heading="Follow">
            <div class="row">
              <div class="col-12">
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima,
                  soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
                  placeat ratione
                  porro voluptate odit minima.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima,
                  soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
                  placeat ratione
                  porro voluptate odit minima.</p>
              </div>
            </div>
          </mdb-tab>
          <!--Panel 3-->
          <mdb-tab heading="Messages">
            <div class="row">
              <div class="col-12">
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima,
                  soluta doloribus
                  reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
                  placeat ratione
                  porro voluptate odit minima.</p>
              </div>
            </div>
          </mdb-tab>
        </mdb-tabset>
    </div>
  </div>
</div>
