<!-- Purple Header -->
<div class="edge-header jarallax blue-gradient"></div>
<!-- Main Container -->
<div class="container free-bird">

  <div class="row" style="min-height: 55vh;">

    <div class="col-md-10 col-lg-10 mx-auto float-none white z-depth-1 py-1 px-5 ">
      <!--<div class="img-fluid text-center image" style="padding-top: 25px">-->
      <!--<img  src="../../../../../assets/img/logo_xpress.png"/>-->
      <!--</div><br/>-->
      <div class="text-center white-text-">
        <ul class="list-unstyled ">
          <li>
            <h1 class="display-4 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
              <strong>
                <span class="indigo-text">F</span>oire&nbsp;
                <span class="indigo-text">A</span>ux&nbsp;
                <span class="indigo-text">Q</span>uestions&nbsp;
              </strong>
            </h1>
          </li>
        </ul>
      </div>

      <!-- Nav Tabs -->
      <mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-tabs tabs-3 indigo'" [contentClass]="'m-0 p-0 card-'">


        <mdb-tab heading="Devenir coursier">
          <div class="row">
            <div class="col-12">
              <p class="lead">
                Vous voulez gagner plus  d’argent? <br>
                Vous voulez arrondir vos fins de mois? <br>
                Vous voulez avoir des bonus sur vos livraisons?<br>
                Etes-vous disponibles?<br>
              </p>

              <p>
                Alors rejoignez  notre équipe de livreurs sur Livraison Express!
              </p>
              <h2>Exigence </h2>
              <ul class="list-unstyled ml-5">
                <li>
                  Avoir plus de 18 ans <br>
                  Être de bonne moralité <br>
                  Avoir sa propre moto <br>
                  Etre disponible de 7h30 à 21H <br>
                  Avoir une CNI <br>
                  Vivre dans la ville de Douala <br>
                </li>
              </ul>
              <p>
                <button style="min-width: 245px" (click)="becomeDeliveryMan()" type="button" class="btn btn-green mb-2 waves-light" mdbWavesEffect>
                  <i class="fab mr-2  fa-whatsapp"></i>
                  <span>Envoyer vos pièces ici</span>
                </button>
              </p>

            </div>
          </div>
        </mdb-tab>

        <mdb-tab heading="Recrutement">
          <div class="row">
            <div class="col-12 text-center-">

              <mdb-tabset #staticTabs1 [buttonClass]="'nav-pills lighten-3  pills-primary  tabs-4 white p-3-'" [contentClass]="''">

                <mdb-tab heading="OFFRES D’EMPLOI">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        Trouvez ici des offres intéressantes pour vous
                        Rubrique : Offres Récentes
                      </p>
                      <p>
                        Êtes- vous intéressé à rejoindre l’équipe LIVRAISON EXPRESS?
                        Votre profil correspond-il aux attentes de LIVRAISON EXPRESS ?
                        Si oui, Envoyez-nous votre CV

                      </p>
                      <p class="text-center">
                        <a [routerLink]="['/recrutment']" routerLinkActive="router-link-active"  class="mt-5 btn btn-primary">
                          Postuler maintenant
                        </a>
                      </p>
                    </div>
                  </div>
                </mdb-tab>

                <mdb-tab heading="STAGES">
                  <div class="row">
                    <div class="col-12">
                      <br>
                      <p>Grâce à sa politique d’octroi de stages en entreprise, LIVRAISON EXPRESS permet aux jeunes étudiants d’acquérir une expérience professionnelle et de développer des compétences dans les domaines relatifs à leurs carrières sous la direction d'un staff qualifié.
                      </p>
                      <p>
                        <b>Stages Professionnels:</b> Accordés aux jeunes diplômés et aux jeunes professionnels.   3-6 mois
                      </p>
                      <p>
                        <b>Stages Académiques: </b>
                        Accordés aux étudiants de l’université et des grandes écoles dont les programmes d’études exigent un stage dans une entreprise et la rédaction d’un rapport/mémoire. 1-3 mois
                      </p>
                      <p>
                        <b>Stages de vacances:</b>
                        Accordés aux étudiants de l’enseignement secondaire ou de l’université pendant les vacances d’été (troisième trimestre) 1-3 mois
                      </p>
                      <hr class="hr">
                      <h2>Demandes et conditions d’admissibilité</h2>
                      <p>
                        Tout candidat intéressé doit fournir les documents suivants :
                      </p>
                      <ul class="unstiled-list">
                        <li>Lettre de motivation indiquant les motifs de la demande et/ou les champs d’intérêt du demandeur;</li>
                        <li>Curriculum Vitae;</li>
                        <li>Copies des diplômes universitaires obtenus.</li>
                      </ul>
                      <p>
                        Toutes les demandes de stage doivent être adressées au:
                        Directeur Général / Directeur des Ressources Humaines, BP: 5944 Douala, Cameroun
                      </p>
                      <hr>
                      <h2>Eligibilité</h2>
                      <ul>
                        <li>
                          Avoir une formation académique ou professionnelle adaptée aux métiers de l’entreprise.
                        </li>
                        <li>
                          Maîtriser au moins une de nos langues de travail (Français et/Anglais ).
                        </li>
                      </ul>
                      <hr>
                      <h2>
                        Candidature spontanée
                      </h2>


                    </div>
                  </div>
                </mdb-tab>

              </mdb-tabset>
            </div>
          </div>
        </mdb-tab>
        <mdb-tab heading="Moyens de paiements">
          <div class="row">
            <div class="col-12">

              Livraison Express accepte plusieurs modes de paiement dont les cartes, le paiement mobile et le comptant à la livraison.
              Les cartes suivantes peuvent être utilisées :
              <ul>


              </ul>
              <ul class="list-unstyled">

                <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Mastercard</li>
                <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Carte visa</li>
                <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Paiement mobile à la livraison</li>

              </ul>

              Si vous réglez votre commande avec une des cartes de paiement, il vous sera demandé d'entrer les détails de cette carte lors du processus de paiement, il vous reviendra de suivre les instructions qui vous seront fournies.

            </div>
          </div>
        </mdb-tab>
      </mdb-tabset>
    </div>
  </div>
</div>
