<!-- Purple Header -->
<div class="edge-header jarallax blue-gradient z-depth-2"></div>
<!-- Main Container -->
<div class="container free-bird">

  <div class="row" style="min-height: 55vh;">

    <div class="col-md-10 col-lg-10 mx-auto float-none white z-depth-1 py-1 px-5 ">
      <!--<div class="img-fluid text-center image" style="padding-top: 25px">-->
      <!--<img  src="../../../../../assets/img/logo_xpress.png"/>-->
      <!--</div><br/>-->
      <div class="text-center white-text-">
        <ul class="list-unstyled ">
          <li>
            <h1 class="display-4 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
              <strong>
                <span class="indigo-text">F</span>oire&nbsp;
                <span class="indigo-text">A</span>ux&nbsp;
                <span class="indigo-text">Q</span>uestions&nbsp;
              </strong>
            </h1>
          </li>
        </ul>
      </div>

      <!-- Nav Tabs -->
      <mdb-tabset #staticTabs [vertical]="true" [buttonClass]="'md-tabs tabs-3 indigo'" [contentClass]="'m-0 p-0 card-'">


        <mdb-tab heading="Exemple">
          <div class="row">
            <div class="col-12">
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>

              <p>
                  Voluptas atque esse eos cupiditate tempore molestias recusandae nulla, labore incidunt magni. Iste sapiente consectetur, mollitia provident voluptatum illo sunt saepe nulla?
              </p>
              <h2>Exigence </h2>
              <ul class="list-unstyled ml-5">
                <li>
                  Avoir plus de 18 ans <br>
                  Être de bonne moralité <br>
                  Avoir sa propre moto <br>
                  Etre disponible de 7h30 à 21H <br>
                  Avoir une CNI <br>
                  Vivre dans la ville de Douala <br>
                </li>
              </ul>
              <p>
                <button style="min-width: 245px" (click)="becomeDeliveryMan()" type="button" class="btn green mb-2 ml-5 waves-light" mdbWavesEffect>
                  <i class="fab mr-2  fa-whatsapp"></i>
                  <span>Envoyer vos pièces ici</span>
                </button>
              </p>

            </div>
          </div>
        </mdb-tab>

        <mdb-tab heading="partenariat">
          <div class="row">
            <div class="col-12 text-center-">

              <mdb-tabset #staticTabs1 [buttonClass]="'nav-pills lighten-3 pills-primary  tabs-4 white p-3-'" [contentClass]="''">

                <mdb-tab heading="OFFRES D’EMPLOI">
                  <div class="row">
                    <div class="col-12">
                      <p>
                        Trouvez ici des offres intéressantes pour vous
                        Rubrique : Offres Récentes
                      </p>
                      <p>
                        Êtes- vous intéressé à rejoindre l’équipe TAMERI BIG?
                        Votre profil correspond-il aux attentes de TAMERI BIG ?
                        Si oui, Envoyez-nous votre CV

                      </p>
                      <p class="text-center">
                        <a [routerLink]="['/coorporate/recrutment']" routerLinkActive="router-link-active"  class="mt-5 btn btn-primary">
                          Postuler maintenant
                        </a>
                      </p>
                    </div>
                  </div>
                </mdb-tab>


              </mdb-tabset>
            </div>
          </div>
        </mdb-tab>
        <mdb-tab heading="Moyens de paiements">
          <div class="row">
            <div class="col-12">

              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero harum eum eaque tempora ut dolor autem voluptatem reprehenderit unde illo nihil alias quia, porro aperiam iure tenetur quisquam laborum delectus?
              <ul>


              </ul>
              <ul class="list-unstyled">

                <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Mastercard</li>
                <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Carte visa</li>
                <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Paiement mobile à la livraison</li>

              </ul>

              Si vous réglez votre commande avec une des cartes de paiement, il vous sera demandé d'entrer les détails de cette carte lors du processus de paiement, il vous reviendra de suivre les instructions qui vous seront fournies.

            </div>
          </div>
        </mdb-tab>
      </mdb-tabset>
    </div>
  </div>
</div>
