<!-- Purple Header -->
<div class="edge-header jarallax blue-gradient z-depth-1"></div>
<!-- Main Container -->
<div class="container free-bird">

  <div class="row">

    <div class="col-md-10 col-lg-10 mx-auto float-none white z-depth-1 py-1 px-5 ">
      <!--<div class="img-fluid text-center image" style="padding-top: 25px">-->
        <!--<img  src="../../../../../assets/img/logo_xpress.png"/>-->
      <!--</div><br/>-->
      <div class="text-center white-text-">
        <ul class="list-unstyled ">
          <li>
            <h1 class="display-4 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
              <strong>Qui sommes-nous? </strong>
            </h1>
          </li>
        </ul>
      </div>
      <p class="lead">
        Le service de livraison à domicile LIVRAISON EXPRESS est
        particulièrement adapté pour la livraison de colis dans la ville de Douala.
         LIVRAISON EXPRESS livre le colis à l'endroit de votre choix:
         Déchargez-le à domicile ou à l’emplacement Souhaité.
        Si nécessaire, nous pouvons effectuer des livraisons le soir et le weekend
        jusqu’à 21h.
      </p>
      <p>
        Nos services de livraison sont faciles à utiliser et Vous pouvez également
        les commander pour vos proches :
      </p>
      <ul class="list-unstyled">

              <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Coursier </li>
              <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Livraison de gaz domestique </li>
              <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Pharmacie </li>
              <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Restaurant</li>
              <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Supermarché </li>
              <li> <img class="d-inline" height="14px" style="transform: translateY(-1.5px)" src="/assets/icons/logo-puce.png">  Shopping </li>

      </ul>

      <p>
        Nous mettons à votre disposition un service de qualité, une équipe
        expérimentée et compétente, capable de fournir un service d’expertise dans la
        résolution de tous vos besoins d'expédition dans la ville de Douala. Elle
        prendra soins de vos commandes de la préparation jusqu’à la livraison.
      </p>
      <p>
        Le délai de livraison est de 90 min max et le paiement se fait à la livraison,
        en espèce ou via les services Mobile Money ou paypal
      </p>
      <p>
        Le service reste ouvert 7j/7 du lundi au vendredi entre 8h et 18h et le week-
        end jusqu’à 21h.
      </p>
    </div>
  </div>
</div>
