<router-outlet></router-outlet>


<div class="my-5 py-5 row flex-center">
    <div class="text-center offset-md-4- col-md-4 flex-center">
        <div class="d-flex flex-column grey p-3 mx-2">
            <h6>Images</h6>
            <img alt="" height="72px" src="assets/images/icons/ICONES-01.png">
            <b>25</b>
        </div>
        <div class="d-flex flex-column grey p-3 mx-2">
            <h6>Videos</h6>
            <img alt="" height="72px" src="assets/images/icons/ICONES-03.png">
            <b>25</b>
        </div>
        <div class="d-flex flex-column grey p-3 mx-2">
            <h6>Audios</h6>
            <img alt="" height="72px" src="assets/images/icons/ICONES-02.png">
            <b>25</b>
        </div>
        <div class="d-flex flex-column grey p-3 mx-2">
            <h6>Illustrations</h6>
            <img alt="" height="72px" src="assets/images/icons/ICONES-04.png">
            <b>25</b>
        </div>
    </div>
</div>
