<div class="kt-mat-alert  kt-mat-alert--{{type}}" role="alert">
    <div class="kt-mat-alert__icon">
        <i class="la la-warning"></i>
    </div>
    <div class="kt-mat-alert__text">
        <ng-content></ng-content>
    </div>
    <div *ngIf="showCloseButton" class="kt-mat-alert__close">
        <button (click)="closeAlert()"
                color="warn"
                mat-icon-button
                type="button">
            <mat-icon class="material-icons">clear</mat-icon>
        </button>
    </div>
</div>
