<div class="software-lp">

  <!--Main Navigation-->
  <header class="">
    <section class="view intro-2 blue-gradient">
      <div class="mask rgba-white-strong">
        <!-- <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
          </mdb-carousel-item>
        </mdb-carousel> -->
        <div  class="container h-100 d-flex justify-content-center align-items-center">

          <div class="row flex-center pt-5 mt-3 w-100">

            <div class="col-md-12 col-lg-8 wow fadeInRight " data-wow-delay="0.3s">
              <h1 class=" grey-text " style="font-size: 50pt">Nous contacter</h1>
              
              <!--<h1 style="visibility: hidden;" class="mb-3 pt-3 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s"><strong-->
                      <!--class="font-weight-bold">Livraison</strong> Express</h1>-->

              <!--<p  style="visibility: hidden;" class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">-->
                <!--Faites livrer vos colis partout à <strong>Douala</strong></p>-->

            </div>
            <div class="col-md-12 col-lg-4 wow fadeInRight " data-wow-delay="0.3s">

            </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!--Main Navigation-->

  <!--Main content-->
  <main>

    <!--First container-->
    <div class="container-fluid">


      <!--Section: Features v.1-->
      <section id="features" class="section feature-box py-5 my-5">
        <div class="container">
          <!--Section heading-->
          <!--<h1 class="mb-3 pt-3 dark-grey-text wow fadeIn text-center" data-wow-delay="0.2s"><strong-->
                  <!--class="font-weight-bold">Livraison</strong> Express</h1>-->

          <!--Section description-->
          <!--<p class="text-center grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">-->
            <!--Faites livrer vos colis partout à <strong>Douala</strong></p>-->


          <!--<hr>-->

          <!-- Card -->
          <div class="card card-image mb-3" style="background-image: url(assets/img/bg/442518-PEKY88-56.jpg);">

            <!-- Content -->
            <div class="row text-white-x text-center d-flex align-items-center rgba-white-slight py-5 px-4">
              <div class="col-md-6">
                <h5 class="pink-text"><i class="fas fa-location-arrow"></i> Contactez nous</h5>
                <h3 class="card-title pt-2"><strong>Nous sommes là pour vous</strong></h3>
                <button (click)="showContact()" mdbBtn type="button" color="primary" rounded="true" mdbWavesEffect>Laissez un message</button>
                <br>
                <a href="mailto:contact@mail.livraison-express.net">
                  <small >contact@mail.livraison-express.net</small>
                </a>
                <br>
              </div>
            <!--</div>-->
            <!--&lt;!&ndash; Content &ndash;&gt;-->

            <!--&lt;!&ndash; Content &ndash;&gt;-->
            <!--<div class="text-white-x text-center d-flex align-items-center rgba-white-slight py-5 px-4">-->
              <div  class="col-md-6">
                <h5 class="pink-text"><i class="fas fa-bell"></i> Abonnez vous</h5>
                <h3 class="card-title pt-2"><strong>Ne manquer pas nos meilleures offres</strong></h3>
                <div class="row">
                  <div class="row mx-auto mt-0 mb-0">
                    <app-news-letter class="row "></app-news-letter>
                  </div>
                </div>
                <a >
                  <small >Soyez informer des nouveautés et des mises à
                    jour en premier.</small>
                </a>
                <br>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->




        </div>
      </section>
      <!--/Section: Features v.1-->




    </div>
    <!--First container-->

    <!--Second container-->

    <!--Second container-->

    <!--Third container-->

    <!--/Third container-->

    <div class="container mt-5 text-center text-md-left">
      <div class="row mt-3 py-5-x">

        <!--First column-->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 dark-grey-text">
          <h5 class="text-uppercase font-weight-bold"><strong>En Ligne</strong></h5>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <ul>
            <li>
              <h6>Facebook</h6>
              <p><a class="dark-grey-text">
                Du lundi au samedi, de 9h à 20h.
                & 24/7
              </a></p>
            </li>
            <li>
              <h6>Twitter</h6>
              <p><a class="dark-grey-text">
                Du lundi au samedi, de 9h à 20h.
                & 24/7
              </a></p>
            </li>
            <li>
              <h6>Instagram</h6>
              <p><a class="dark-grey-text">
                Du lundi au samedi, de 9h à 20h.
                & 24/7
              </a></p>
            </li>
            <li>
              <h6>Youtube</h6>
              <p><a class="dark-grey-text">
                Du lundi au samedi, de 9h à 20h.
                & 24/7
              </a></p>
            </li>
          </ul>
          <!-- <p><a href="#!" class="dark-grey-text">Shopping</a></p> -->
        </div>
        <!--/.First column-->

        <!--Second column-->
        <!--<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 dark-grey-text">-->
          <!--<h5 class="text-uppercase font-weight-bold"><strong></strong></h5>-->
          <!--<hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
          <!--&lt;!&ndash;Facebook&ndash;&gt;-->
          <!--<a class="p-2 m-2 fa-lg fb-ic ml-0"><i class="fab fa-facebook white-text mr-lg-4"> </i></a><br>-->
          <!--&lt;!&ndash;Twitter&ndash;&gt;-->
          <!--<a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text mr-lg-4"> </i></a><br>-->
          <!--&lt;!&ndash;Google +&ndash;&gt;-->
          <!--<a class="p-2 m-2 fa-lg gplus-ic"><i class="fab fa-google-plus white-text mr-lg-4"> </i></a><br>-->
          <!--&lt;!&ndash;Linkedin&ndash;&gt;-->
          <!--<a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin white-text mr-lg-4"> </i></a><br>-->
          <!--&lt;!&ndash;Instagram&ndash;&gt;-->
          <!--<a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram white-text mr-lg-4"> </i></a><br>-->

        <!--</div>-->
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 dark-grey-text">
          <h5 class="text-uppercase font-weight-bold"><strong>Appelez</strong></h5>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <ul>
            <li>
              <h6>
                <strong>Assistance</strong><br>
                <a href="tel:237695461461"><strong> + 237 6 95 46 14 61</strong></a>
              </h6>
              <p><a href="#!" class="dark-grey-text">
                Du lundi au samedi, de 9h à 20h.
                & 24/7
              </a></p>
            </li>
            <li>
              <h6>
                <strong>Whatsapp</strong><br>
                <a href="https://wa.me/237695461461?text=Salut"><strong> + 237 6 95 46 14 61</strong></a>
              </h6>
              <p><a href="#!" class="dark-grey-text">
                Du lundi au samedi, de 9h à 20h.
                & 24/7
              </a></p>
            </li>
          </ul>

        </div>
        <!--/.Third column-->

        <!--Fourth column-->

        <!--/.Fourth column-->
      </div>
    </div>


    <!--Footer-->
    <footer class="page-footer text-center text-md-left blue-grey lighten-5 pt-0">

      <div style="background-color: #5991fb;">
        <div class="container">
          <!--Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!--Grid column-->
            <div class="col-12 col-md-5 text-left mb-md-0">
              <h5 class="mb-0 white-text text-center text-md-left"><strong>
                <span style="position:relative; top: -2px;">« </span>
                &nbsp;REJOIGNEZ-NOUS SUR&nbsp;
                <span style="position:relative; top: -2px;">»</span>
              </strong></h5>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-12 col-md-7 text-center text-md-right">
              <!--Facebook-->
              <a class="p-2 m-2 fa-lg fb-ic ml-0"><i class="fab fa-facebook white-text mr-lg-4"> </i></a>
              <!--Twitter-->
              <a class="p-2 m-2 fa-lg tw-ic"><i class="fab fa-twitter white-text mr-lg-4"> </i></a>
              <!--Google +-->
              <a class="p-2 m-2 fa-lg gplus-ic"><i class="fab fa-google-plus white-text mr-lg-4"> </i></a>
              <!--Linkedin-->
              <a class="p-2 m-2 fa-lg li-ic"><i class="fab fa-linkedin white-text mr-lg-4"> </i></a>
              <!--Instagram-->
              <a class="p-2 m-2 fa-lg ins-ic"><i class="fab fa-instagram white-text mr-lg-4"> </i></a>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
        </div>
      </div>

      <!--Footer Links-->
      <div class="container mt-5 text-center text-md-left">
        <div class="row mt-3 py-5-x">

          <!--First column-->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
            <!--<h6 class="text-uppercase font-weight-bold"><strong>Livraison</strong> Express</h6>-->
            <!--<hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">-->
            <p>
              <img style="transform: translateY(-1em) scale(1.25);" src="assets/img/logo_xpress512.png" height="62px">
            </p>
            <p class="text-primary">Votre service de livraison rapide, ouvert de 8h à 20h</p>
            <p>Qui sommes nous?</p>
            <p><a routerLink="/recrutment" class="dark-grey-text" >Recrutement</a></p>
            <p>Conditions générales de ventes</p>
            <p>Modes de paiement</p>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold"><strong>Nos services</strong></h6>
            <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a href="#!" class="dark-grey-text">Gaz</a></p>
            <p><a href="#!" class="dark-grey-text">Coursier</a></p>
            <p><a href="#!" class="dark-grey-text">Pharmacie</a></p>
            <p><a href="#!" class="dark-grey-text">Restaurant</a></p>
            <p><a href="#!" class="dark-grey-text">Supermarché</a></p>
            <p><a href="#!" class="dark-grey-text">Pressing</a></p>
            <!-- <p><a href="#!" class="dark-grey-text">Shopping</a></p> -->
          </div>
          <!--/.Second column-->

          <!--Third column-->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold"><strong>Besoin d'aide?</strong></h6>
            <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p><a href="#!" class="dark-grey-text">Comment ça marche?</a></p>
            <p><a href="#!" class="dark-grey-text">Devenir livreur ?</a></p>
            <p><a href="#!" class="dark-grey-text">FAQ</a></p>
            <p><a href="#!" class="dark-grey-text">Tarifs</a></p>

          </div>
          <!--/.Third column-->

          <!--Fourth column-->
          <div class="col-md-3 col-lg-3 col-xl-3 dark-grey-text">
            <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
            <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p class="w-75">
              <a (click)="showContact()" type="button" class="btn btn-sm btn-block btn-rounded btn-default waves-effect  waves-light">
                <i class="fa fa-envelope"></i>
                <span class="ml-3" >Nous Contacter</span>
              </a>
            </p>
            <p><i class="fa fa-home mr-3"></i> Carrefour Rhone Poulenc- Makèpe, Douala, Cameroun</p>
            <p><i class="fa fa-envelope mr-3"></i> contact@<br>livraison-express.net</p>
            <p><i class="fa fa-phone mr-3"></i> + 237 6 95 46 14 61</p>
            <p><i class="fab fa-whatsapp mr-3"></i> + 237 6 95 46 14 61</p>
          </div>
          <!--/.Fourth column-->
        </div>
      </div>

      <!--OFFLINE DOWNLOAD BUTTON-->
      <!--<div class="container text-center text-md-left">-->
      <!--<div class="row mt-3 py-5">-->
      <!--<div class="col-md-9">-->
      <!--<div class="h6-responsive  mb-3 d-inline-block text-primary">Téléchargement direct de l'application <br>mobile en-->
      <!--<span class="badge badge-primary">béta</span></div>-->
      <!--<a (click)="downloadAPK()" class="d-inline-block text-center ml-lg-0 wow fadeIn" data-wow-delay="0.3s">-->
      <!--<img style="-->
      <!--height: 50px;-->
      <!--position: relative;-->
      <!--top: -10px;" class="ml-4 mr-3 custom-shadow-on-hover"-->
      <!--src="assets/img/download-apk.png" alt="Download APK">-->
      <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
      <!--</div>-->
      <!--&lt;!&ndash;<div class="col"></div>&ndash;&gt;-->
      <!--</div>-->
      <!--</div>-->
      <!--/.OFFLINE DOWNLOAD BUTTON-->

      <!--/.Footer Links-->

    </footer>
    <!--/.Footer-->



    <!--/Fourth container-->
    <div class="container">




    </div>
    <!--/Fourth container-->

    <!-- <div class="streak streak-md streak-photo"
      style="background-image:url('../../assets/img/app-landing/parallax/mur.jpg')">
      <div class="flex-center white-text blue-gradient-mask-light">
        <div class="container py-3"> -->

    <!--Section: Clients-->
    <!-- <section class="section feature-box wow fadeIn" data-wow-delay="0.2s"> -->

    <!--Section heading-->
    <!-- <h1 class="py-5 mt-5 mb-0  white-text text-center wow fadeIn" data-wow-delay="0.2s"><strong
        class="font-weight-bold">NOS</strong> CLIENTS DIVERS</h1> -->

    <!--Section description-->
    <!-- <p class="text-center w-responsive mx-auto mt-0 mb-5 pb-5 white-text">Ils nous ont fait confiance avec le
      temps</p> -->
    <!--Grid column-->
    <!-- <div class="col-md-10 offset-md-1"> -->

    <!--Grid row-->
    <!-- <div class="row mb-5">
      <div class="col-md-6">
        <div class="row">
          <div class="col-9">
            <h5 class="mt-4 font-weight-bold white-text text-right">MTN CAMEROUN</h5>
          </div>
          <div class="col-3">
            <img class="btn-floating white btn-lg my-0" src="../../assets/img/Mobile-Money.jpg" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-3">
            <img class="btn-floating white btn-lg my-0" src="../../assets/img/Orange.jpg" />
          </div>
          <div class="col-9">
            <h5 class="mt-4 font-weight-bold white-text">ORANGE CAMEROUN</h5>
          </div>
        </div>
      </div>
    </div> -->


    <!-- </div> -->

    <!-- </section> -->
    <!--/Section: Features v.4-->
    <!-- </div>
  </div>
</div> -->
  </main>
  <!--Main content-->

</div>

