

#banner  {
  background-size: cover;
  background-position: top;
}

.m-header--fixed .m-body {
  padding-top: 104px!important;
}

.m-page .m-page__container {
  padding: 0px 0px;
}

.option-cat {
  cursor: pointer;
  border: #a1a0a0;
  margin-top: 1.0rem;
  max-width: 6.666667%;
}

.description{
  font-weight: bolder;
  font-size: 14px;
  text-align: center;
}

.m-body .m-wrapper {
  padding-right: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
}


.masonry-grid-with-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 1000px; }
.masonry-grid-with-columns div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  //background: #00997B;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;

  .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .comments-list img, .reply-form img, .video-fluid {
    max-height: 100%;
    width: auto;
    max-width: 394px;
  }
}

.masonry-grid-with-columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.masonry-grid-with-columns-2 div {
  height: 150px;
  line-height: 150px;
  //background: #9B1B30;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;

  .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .comments-list img, .reply-form img, .video-fluid {
    max-height: 100%;
    width: auto;
    max-width: 394px;
  }

}


.masonry-grid-with-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 1000px; }

.masonry-grid-with-flex div {
  width: auto;
  //background: #975A58;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;

  .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .comments-list img, .reply-form img, .video-fluid {
    max-width: 100%;
    height: auto;
    max-height: 334px;
  }
}
