    .m-login.m-login--1 .m-login__wrapper {
      overflow: hidden;
      padding: 15% 2rem 2rem 2rem;
    }

    .m-login.m-login--1 .m-login__wrapper .m-login__logo {
      text-align: center;
      margin: 0 auto 1.5rem auto;
    }

    $introBg: "/assets/images/bg/bg-4.jpg";

    .intro-2 {
      background: url($introBg) no-repeat center center;
      background-size: cover;
    }


    .md-form label {
      color: #ffffff;
    }

    .intro {
      min-height: 100vh;
      position: relative;
    }

    .rgba-stylish-strong .mask {
      background-color: rgba(62, 69, 81, .7);
    }