#banner {
  min-height: 180px;
  background-color: #212121;
  color: white;
}

#banner-menu {
  /* padding-top: 5em; */
  height: 40px;
  position: absolute;
  color: white;
  background-color: #00000050;
}