<div #modal="mdbModal" (onHide)="onHideModal()" [config]="{backdrop: true, ignoreBackdropClick: true}"
     aria-hidden="true"
     aria-labelledby="myBasicModalLabel" class="modal fade top"
     mdbModal role="dialog" style="overflow-y: auto" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button (click)="modal.hide()" aria-label="Close" class="close pull-right" type="button">
                    <span aria-hidden="true">×</span>
                </button>

                <!-- Material form row -->
                <form (submit)="submit()" [formGroup]="validatingForm" novalidate>

                    <div class="row mt-4">
                        <div class="col-md-5">
                            <h4>Méta</h4>
                            <mdb-card class="mt-0">
                                <mdb-card-body class="text-left">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- Grid row -->
                                            <div class="form-row mb-5">
                                                <div class="col-md-12 ">
                                                    <div *ngIf="errors.length"
                                                         class="animated fadeIn alert alert-warning"
                                                         role="alert">
                                                        <b>{{ errors[0]}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Grid row -->
                                            <div class="form-row">
                                                <!-- Grid column -->
                                                <div class="col">
                                                    <!-- Material input -->
                                                    <div class="md-form form-group mt-0">
                                                        <input class="form-control" formControlName="title" id="titre"
                                                               maxlength="100"
                                                               mdbInput
                                                               name="titre" placeholder="Titre "
                                                               type="text">
                                                        <label for="titre">Titre</label>
                                                        <mdb-error
                                                                *ngIf="titreInput.invalid && (titreInput.dirty || titreInput.touched)">
                                                            invalid
                                                        </mdb-error>
                                                        <mdb-success
                                                                *ngIf="titreInput.valid && (titreInput.dirty || titreInput.touched)">
                                                            valid
                                                        </mdb-success>
                                                    </div>
                                                </div>
                                                <!-- Grid column -->
                                            </div>
                                            <!-- Grid row -->
                                            <!-- Grid row -->
                                            <div class="form-row">
                                                <!-- Grid column -->
                                                <div class="col">
                                                    <!-- Material input -->
                                                    <div class="md-form form-group  mt-0">
                                                        <input class="form-control" formControlName="price" id="prix"
                                                               mdbInput
                                                               min="50"
                                                               name="prix" placeholder="Prix" type="number">
                                                        <label for="prix">Prix(FCFA)</label>
                                                        <mdb-error
                                                                *ngIf="prixInput.invalid && (prixInput.dirty || prixInput.touched)">
                                                            invalid
                                                        </mdb-error>
                                                        <mdb-success
                                                                *ngIf="prixInput.valid && (prixInput.dirty || prixInput.touched)">
                                                            valid
                                                        </mdb-success>
                                                    </div>
                                                </div>
                                                <!-- Grid column -->
                                            </div>
                                            <!-- Grid row -->
                                            <!-- Grid row -->
                                            <div class="form-row">
                                                <!-- Grid column -->
                                                <div class="col">
                                                    <!-- Material input -->
                                                    <div class="md-form mt-0">
                          <textarea class="form-control" formControlName="description" id="description" length="100"
                                    maxlength="100" mdbCharCounter mdbInput name="description"
                                    placeholder="Description "
                                    rows="5" type="text"></textarea>

                                                        <mdb-error
                                                                *ngIf="descInput.invalid && (descInput.dirty || descInput.touched)">
                                                            invalid
                                                        </mdb-error>
                                                        <mdb-success
                                                                *ngIf="descInput.valid && (descInput.dirty || descInput.touched)">
                                                            valid
                                                        </mdb-success>
                                                    </div>
                                                </div>
                                                <!-- Grid column -->
                                            </div>
                                            <!-- Grid row -->
                                            <!-- Material form row -->
                                        </div>
                                    </div>

                                </mdb-card-body>
                            </mdb-card>
                        </div>
                        <div class="col-md-7">
                            <h4>Mots clés</h4>
                            <mdb-card class="mt-0">
                                <mdb-card-body class="text-left">
                                    <div class="row">
                                        <div class="col-12">
                                            <!-- Grid row -->
                                            <div class="form-row">
                                                <!-- Grid column -->
                                                <div class="col">
                                                    <!-- Material input -->
                                                    <div class="md-form p-2 rgba-cyan-slight- m-0">
                                                        <tag-input
                                                                [maxItems]='5'
                                                                [modelAsStrings]="true"
                                                                formControlName="keywords"
                                                                inputClass="border  border-0"
                                                                placeholder="Tapez ici"
                                                                secondaryPlaceholder="Ajoutez vos mots clés pour la recherche"></tag-input>
                                                    </div>
                                                </div>
                                                <!-- Grid column -->
                                            </div>
                                            <!-- Grid row -->
                                        </div>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>
                            <br>
                            <h4>Categories</h4>
                            <mdb-card class="mt-0">
                                <mdb-card-body class="text-left">
                                    <div class="row">
                                        <div class="col-12">
                                            <!--<h1 class="mb-5">Images presenter</h1>-->

                                            <div class="row mx-auto">
                                                <div *ngFor="let item of topics; trackBy: trackByID"
                                                     class="border-grey m-1 col-md-6">
                                                    <!--                                                        <mdb-icon class="mr-2" fas icon="angle-right"></mdb-icon>-->
                                                    <mdb-checkbox (change)="selectTopic($event, item)"
                                                                  [checkboxPosition]="'left'"
                                                                  [checked]="isCheckedCategorie(item)"
                                                                  [inline]="true" [mdbTooltip]="item.name"
                                                                  [value]="item._id" class="w-75"
                                                                  filledIn="true" name="complements"
                                                                  placement="bottom">{{item.name}}</mdb-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mdb-card-body>
                            </mdb-card>
                            <br>
                        </div>
                    </div>

                    <div class="row mt-3">


                        <div class="col-md-9 text-center">
                            <strong>Note:</strong> Vous allez ajouter l'image de couverture et l'archives
                            <strong><a href="https://www.7-zip.org/" target="_blank"
                                       title="Télécharger 7Zip gratuitement">zip</a></strong>
                            des fichiers sources apres avoir enregister ce template.
                        </div>
                        <div class="col-md-3 text-center">
                            <button [disabled]="submitting"
                                    class="btn m-0 btn-primary btn-block"
                                    type="submit">
                                <span *ngIf="submitting"
                                      aria-hidden="true"
                                      class="spinner-grow spinner-grow-sm text-light"
                                      role="status"></span>
                                <span *ngIf="!submitting">Enregistrer</span>
                            </button>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>
