<router-outlet></router-outlet>
<!-- BEGIN: Subheader -->
<div></div>
<!-- END: Subheader -->
<div class="container p-md-5 p-sm-2">
    <div class="row p-md-5">

        <!-- center -->
        <div class="col-md-12 mt-md-0 mt-5 pt-md-0 pt-4">



            <!--Top Table UI-->
            <mdb-card class="my-5">
                <mdb-card-body>
                    <mdb-card-title >
                        <h4 class="text-muted">
                            <span>Images</span>
                        </h4>
                        <!--<div class="float-right">-->
                            <!--<a class="btn btn-primary waves-light" routerLink="./add" mdbWavesEffect>-->
                                <!--<mdb-icon fas icon="plus" class="mr-1"></mdb-icon>-->
                                <!--<span class="clearfix d-none d-sm-inline-block">Inserer</span>-->
                            <!--</a>-->
                        <!--</div>-->
                    </mdb-card-title>
                    <hr>
                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <a class="btn btn-primary waves-light" routerLink="./add" mdbWavesEffect>
                                <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>
                                <span class="clearfix d-none d-sm-inline-block">Inserer</span>
                            </a>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-xl-3 col-lg-6 col-md-12">
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <mdb-select
                                    [options]="bulkOptionsSelect"
                                    placeholder="Bulk actions"
                            ></mdb-select>
                        </div>
                        <!--Grid column-->


                        <!--Grid column-->
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <form class="form-inline inputs ml-2">
                                <!--Right-->
                                <div class="md-form  input-group">
                                    <input
                                            class="form-control my-0 py-0"
                                            type="text"
                                            placeholder="Search"
                                            [(ngModel)]="searchText1"
                                            [ngModelOptions]="{standalone: true}"
                                    />
                                    <div class="input-group-btn">
                                        <button
                                                mdbBtn
                                                color="primary"
                                                size="sm"
                                                class="ml-2 px-2 waves-effect waves-light"
                                                mdbWavesEffect
                                        >
                                            <mdb-icon fas icon="search"></mdb-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </mdb-card-body>
            </mdb-card>
            <!--Top Table UI-->

            <mdb-card cascade="true" narrower="true" [ngClass]="{ 'z-depth-0': !shadows }">
                <!--Card image-->
                <div
                        class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center"
                >
                    <div>

                        <button
                                type="button"
                                mdbBtn
                                outline="true"
                                color="white"
                                rounded="true"
                                size="sm"
                                class="px-2"
                        >
                            <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
                        </button>
                    </div>

                    <a href="" class="white-text mx-3">Table name</a>

                    <div>
                        <button
                                type="button"
                                mdbBtn
                                outline="true"
                                color="white"
                                rounded="true"
                                size="sm"
                                class="px-2"
                        >
                            <mdb-icon fas icon="pencil-alt" class="mt-0"></mdb-icon>
                        </button>
                        <button
                                type="button"
                                mdbBtn
                                outline="true"
                                color="white"
                                rounded="true"
                                size="sm"
                                class="px-2"
                        >
                            <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
                        </button>
                        <button
                                type="button"
                                mdbBtn
                                outline="true"
                                color="white"
                                rounded="true"
                                size="sm"
                                class="px-2"
                        >
                            <mdb-icon fas icon="info-circle" class="mt-0"></mdb-icon>
                        </button>
                    </div>
                </div>
                <!--/Card image-->

                <div class="px-4">
                    <div class="table-wrapper">
                        <!--Table-->
                        <table class="table table-hover mb-0">
                            <!--Table head-->
                            <thead>
                            <tr>
                                <th>
                                    <mdb-checkbox (change)="toggleRows($event)" [checked]="isAllChecked"
                                                  [indeterminate]="isSelectionIndeterminate"></mdb-checkbox>
                                </th>
                                <th class="th-lg">
                                    Image
                                </th>
                                <th class="th-lg">
                                    <a (click)="sortBy('title')"
                                    >Titre
                                        <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg">
                                    <a (click)="sortBy('price')"
                                    >Prix
                                        <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg">
                                    <a (click)="sortBy('createdAt')"
                                    >Date
                                        <mdb-icon fas icon="sort" class="ml-1"></mdb-icon>
                                    </a>
                                </th>
                                <th class="th-lg">
                                    <a
                                    >Mots clés
                                    </a>
                                </th>
                                <th class="th-lg">
                                    <a
                                    >Categories
                                    </a>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <!--Table head-->

                            <!--Table body-->
                            <tbody>
                            <tr *ngFor="let row of tableData | searchSelectable: 'title,price':searchText1; trackBy: trackByID">
                                <th scope="row">
                                    <mdb-checkbox (change)="selectRow($event, row)"
                                                  [checkboxPosition]="'left'"
                                                  [checked]="row.selected"
                                    ></mdb-checkbox>
                                </th>
                                <td>
                                    <img *ngIf="row.data.miniature.length" [src]="row.data.miniature" class="img-fluid">
                                    <span *ngIf="!row.data.miniature.length" class="text-muted">Indéfinie</span>
                                </td>
                                <td>{{ row.data.title }}</td>
                                <td>{{ row.data.price }}</td>
                                <td>{{ row.data.createdAt }}</td>
                                <td>{{ row.data.keywords }}</td>
                                <td>{{ extractTopicsNames(row.data.topics) }}</td>
                                <td>
                                    <div class="nav-item dropdown btn-group" dropdown>
                                        <a class="px-2 dropdown-toggle waves-light" color="blue"
                                           dropdownToggle
                                           mdbBtn
                                           mdbWavesEffect
                                           outline="true"
                                           rounded="true" size="sm" type="button">
                                            <mdb-icon class="mt-0" fas icon="th-large"></mdb-icon>
                                        </a>
                                        <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                                            <a (click)="uploadPicture(row)" class="dropdown-item text-primary">
                                                <mdb-icon class="mr-1" fas icon="cloud-upload-alt"></mdb-icon>
                                                <span class="clearfix d-none d-sm-inline-block">Picture</span>
                                            </a>
                                            <a (click)="uploadFiles(row)" class="dropdown-item text-primary">
                                                <mdb-icon class="mr-1" fas icon="cloud-upload-alt"></mdb-icon>
                                                <span class="clearfix d-none d-sm-inline-block">Source .Zip</span>
                                            </a>
                                            <a (click)="edit(row)" class="dropdown-item text-primary">
                                                <mdb-icon class="mr-1" fas icon="edit"></mdb-icon>
                                                <span class="clearfix d-none d-sm-inline-block">Edit</span>
                                            </a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    </div>

                    <hr class="my-0" />

                    <!--Bottom Table UI-->
                    <div class="d-flex justify-content-between">
                        <!--Pagination -->
                        <nav class="my-4">
                            <ul class="pagination pagination-circle pg-blue mb-0 flex-wrap">
                                <!--First-->
                                <li class="page-item disabled">
                                    <a class="page-link">First</a>
                                </li>

                                <!--Arrow left-->
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                <!--Numbers-->
                                <li class="page-item active">
                                    <a class="page-link  waves-effect" mdbWavesEffect>1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link  waves-effect" mdbWavesEffect>2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link  waves-effect" mdbWavesEffect>3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link  waves-effect" mdbWavesEffect>4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link  waves-effect" mdbWavesEffect>5</a>
                                </li>

                                <!--Arrow right-->
                                <li class="page-item">
                                    <a class="page-link waves-effect" mdbWavesEffect aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>

                                <!--First-->
                                <li class="page-item">
                                    <a class="page-link waves-effect" mdbWavesEffect>Last</a>
                                </li>
                            </ul>
                        </nav>
                        <!--/Pagination -->
                    </div>
                    <!--Bottom Table UI-->
                </div>
            </mdb-card>


        </div>

    </div>
</div>
