<!-- Purple Header -->
<div class="edge-header jarallax blue-gradient"></div>

<!-- Main Container -->
<div class="container-fuild free-bird">
  <div class="row mb-5">

    <div class="col-md-10 col-lg-10 mx-auto float-none white z-depth-1 py-1 px-5 ">
      <!--<div class="img-fluid text-center image" style="padding-top: 25px">-->
      <!--<img  src="../../../../../assets/img/logo_xpress.png"/>-->
      <!--</div><br/>-->
      <div class="text-center white-text-">
        <ul class="list-unstyled ">
          <li>
            <h1 class="display-4 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
              <strong>Offres & Services </strong>
            </h1>
          </li>
        </ul>
      </div>

      <div class="row mx-5 text-justify">
        <div class="col-3">
          <img src="" alt="">
        </div>
        <div class="col-9">

          <h3 class="display-5 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
            <strong>Le Coursier</strong><br><br>
            <small>
              commandez votre course à Douala en 90 min maximum
            </small>
          </h3>


          <p class="lead">
            Votre service de livraison de colis et plis qui vous simplifie la vie en un clic, quelle que soit la nature du colis, livraison express répond présent en temps et en heure.
          </p>
          <p>
            Nos services de livraison sont faciles à utiliser et Vous pouvez également
            les commander pour vos proches.
          </p>
          <p class="text-md-right">
            <a style="min-width: 240px;" [routerLink]="['/delivery/v2']" routerLinkActive="router-link-active" [queryParams]="{ openModal: '-withdraw-' }"   class="dark-grey-text- btn btn-primary btn-rounded"> Commander une course</a>
          </p>

        </div>
      </div>

      <div class="row mx-5 text-justify">
        <div class="col-3">
          <img src="" alt="">
        </div>
        <div class="col-9">

          <h3 class="display-5 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
            <strong>Le Supermarché</strong><br>
            <small>
            </small>
          </h3>


          <p class="lead">
            Faites-vous livrer tous vos produits du supermarché. Livraison express vous permet d’effectuer vos courses en ligne parmi les meilleures références du marché. Nous vous livrons où et quand vous voulez en moins de 4h dans la ville de Douala.

          </p>
          <p class="text-md-right">
            <a style="min-width: 240px;" class="dark-grey-text- btn btn-primary btn-rounded"> Constituer un panier  </a>
          </p>
        </div>
      </div>

      <div class="row mx-5 text-justify">
        <div class="col-3">
          <img src="" alt="">
        </div>
        <div class="col-9">

          <h3 class="display-5 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
            <strong>Le Restaurant </strong><br>
            <small>
            </small>
          </h3>


          <p class="lead">
            Au bureau ou à domicile, depuis votre tablette, smartphone ou ordinateur, passez la commande des repas qui vous font envie dans l’un de nos restaurants partenaires, en portion individuelle ou familiale.
            Notre service de livraison s’engage à vous livrer votre repas à l’adresse souhaitée en 90 min maximum

          </p>
          <!--<p class="text-md-right">
            <a class="dark-grey-text- btn btn-primary btn-rounded"> Constituer un panier  </a>
          </p>-->
        </div>
      </div>

      <div class="row mx-5 text-justify">
        <div class="col-3">
          <img src="" alt="">
        </div>
        <div class="col-9">

          <h3 class="display-5 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
            <strong>La Pharmacie </strong><br>
            <small>
            </small>
          </h3>


          <p class="lead">
            C’est désormais possible. Alors ne vous déplacez plus, Livraison Express vous apporte les médicaments de votre pharmacie,Une photo de votre ordonnance ou une liste de vos médicaments au 695 461 461 et nous faisons le reste pour vous!
          </p>
          <!--<p class="text-md-right">
            <a class="dark-grey-text- btn btn-primary btn-rounded"> Envoyer nous votre ordonnance medicale </a>
          </p>-->
        </div>
      </div>

      <div class="row mx-5 text-justify">
        <div class="col-3">
          <img src="" alt="">
        </div>
        <div class="col-9">

          <h3 class="display-5 mt-md-5 mt-lg-5 mb-5 font-weight-bold white-text- wow fadeIn" data-wow-delay="0.3s">
            <strong>Le Gaz domestique</strong><br>
            <small>
            </small>
          </h3>


          <p class="lead">
            Faites livrer votre gaz domestique chez vous en 30 min max. La vie n’a jamais été aussi simple avec Livraison Express

          </p>
          <!--<p class="text-md-right">
            <a class="dark-grey-text- btn btn-primary btn-rounded"> Envoyer nous votre ordonnance medicale </a>
          </p>-->
        </div>
      </div>

    </div>
  </div>
</div>
