<!-- BEGIN: Subheader -->
<div>
    <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up">
        </div>

        <!--Avatar-->
        <div class="avatar ml-auto">
            <img [defaultImage]="defaultImageAvatar" [lazyLoad]="user.avatar" class="rounded-circle">
        </div>
        <div class="username">
            <h3>{{ user.fullname }} <small class="grey-text">@{{ user.username}}</small></h3>

        </div>

        <mdb-card-body *ngIf="false" class="text-left py-0 my-0">
            <!--Name-->
            <mdb-card-title>
                <h4>{{ user.fullname }} <small class="grey-text">@{{ user.username}}</small></h4>
            </mdb-card-title>
            <hr>
            <!--Quotation-->
            <p>
                <mdb-icon fas icon="quote-left"></mdb-icon> {{ user.about }}
            </p>
        </mdb-card-body>

    </mdb-card>
</div>
<!-- END: Subheader -->
<div class="container-fluid py-sm-2 py-md-0">
    <div class="row">

        <div class="grey lighten-5 col-md-3 order-md-1">
            <aside class="pl-3 mt-5 ">
                <div class="menu-vertical" style="width: 200px;">

                    <br>
                    <br>
                    <br>
                    <button (click)="showSection('monitoring')" [outline]="section !== 'monitoring'" block="true"
                            class="mb-3 z-depth-0 d-flex justify-content-between align-items-center" color="warning"
                            mdbBtn mdbWavesEffect type="button">Monitoring
                    </button>

                    <button (click)="showSection('notification')" [outline]="section !== 'notification'" block="true"
                            class="mb-3 z-depth-0 d-flex justify-content-between align-items-center" color="warning"
                            mdbBtn mdbWavesEffect type="button">Notification
                        <mdb-badge color="red">02</mdb-badge>
                    </button>

                    <button (click)="showSection('gallery')" [outline]="section !== 'gallery'" block="true"
                            class="mb-3 z-depth-0 d-flex justify-content-between align-items-center" color="warning"
                            mdbBtn mdbWavesEffect type="button">Galérie
                    </button>

                    <button (click)="showSection('params')" [outline]="section !== 'params'" block="true"
                            class="mb-3 z-depth-0 d-flex justify-content-between align-items-center" color="warning"
                            mdbBtn mdbWavesEffect type="button">Paramètres
                    </button>

                </div>
            </aside>
        </div>

        <div class="col-md-9 mt-md-0 mt-5 pt-md-0 pt-4">

            <!--Grid row-->
            <div *ngIf="section === 'notification'" class="row">

                <!--Grid column-->
                <div class="col-md-12">

                    <h2 class="mt-5 p-3 text-uppercase">voici ce nous recherchons</h2>
                    
                    <div class="grey lighten-5 p-3">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi tempora voluptate magni rem
                        accusamus aliquid distinctio, neque repellendus esse beatae dolore, ab labore cupiditate
                        repudiandae sed laudantium ratione, porro id.
                        <p>&nbsp;</p>
                        <button class="btn black white-text px-5 z-depth-0">Ajoutez</button>
                    </div>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <div *ngIf="section === 'monitoring'" class="row">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime nulla porro. Ad architecto
                    autem cupiditate dolore dolores ducimus fugit id nostrum obcaecati quibusdam quisquam, similique,
                    sit, soluta sunt unde!
                </div>
            </div>

            <div *ngIf="section === 'gallery'" class="row">
                <div class="col">
                    <mdb-tabset #staticTabs [buttonClass]="'nav md-pills pills-warning justify-content-end my-2'" [justified]="false"
                                [contentClass]="'p-3 z-depth-0'">
                        <!--Panel 1-->
                        <mdb-tab heading="Validé">
                            <div class="row">
                                <div class="col-12">

                                </div>
                            </div>
                        </mdb-tab>
                        <!--Panel 2-->
                        <mdb-tab heading="En cour d'examen">
                            <div class="row">
                                <div class="col-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam
                                        minima, soluta doloribus
                                        reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
                                        Tempora, placeat ratione
                                        porro voluptate odit minima.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam
                                        minima, soluta doloribus
                                        reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
                                        Tempora, placeat ratione
                                        porro voluptate odit minima.</p>
                                </div>
                            </div>
                        </mdb-tab>
                        <!--Panel 3-->
                        <mdb-tab heading="Rejeté">
                            <div class="row">
                                <div class="col-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam
                                        minima, soluta doloribus
                                        reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
                                        Tempora, placeat ratione
                                        porro voluptate odit minima.</p>
                                </div>
                            </div>
                        </mdb-tab>
                    </mdb-tabset>
                </div>
            </div>
        </div>

    </div>
</div>
