
<div class="col-12 special-color-dark mt-5">
        <div class="masonry">

            <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
                <ngxMasonryItem  *ngFor="let picture of masonryImages" class="masonry-item">
                    <!--<img [defaultImage]="defaultImage" [lazyLoad]="picture.picture" [offset]="offset">-->
<!--                    <img  (click)="showImage(picture)" src="{{picture.picture}}">-->
                    <img  (click)="showImage(picture)" src="{{getImageUrl(picture)}}">

                </ngxMasonryItem >
            </ngx-masonry>

            <button *ngIf="limit < 100" (click)="showMoreImages()">Show More Images</button>
            <h2 *ngIf="limit >= 100">No More Images</h2>

        </div>

    </div>
