
<div
        (scrolled)="getImages()"
        [infiniteScrollDistance]="10"
        [infiniteScrollThrottle]="50"
        class="search-results"
        infiniteScroll
>
  <ng-masonry-grid
    [masonryOptions]="{
      transitionDuration: '0.8s',
      gutter: 5,
      columnWidth: 300,
      fitWidth: true
    }"
    [useAnimation]="true"
    [useImagesLoaded]="true"
    [scrollAnimationOptions]="{
      animationEffect: 'effect-4',
      minDuration: 0.4,
      maxDuration: 0.7
    }"
  >
    <ng-masonry-grid-item
            *ngFor="let picture of masonryImages; let i = index"
            id="{{ 'masonry-item-' +  i}}"
            class="masonry-item"
    >
      <img  (click)="showImage(picture)" [src]="getImageUrl(picture)">

    </ng-masonry-grid-item>
  </ng-masonry-grid>
</div>
