.box-search {
  width: 30%;
  margin: 0 35%;
}

.icon-search {
  right: 0;
  line-height: 40px;
  width: 10%;
}

.input-search {
  width: 90% !important;
}

app-animated-like {

  position: absolute;

  top: 5px;

  right: 5px;

}
