<div #gridContainerRef class="w-100- container special-color-dark- pt-3">

    <div class="d-flex justify-content-between">
        <h1 class="text-center">Search</h1>
        <div *ngIf="isMobile"  class="btn-group">
            <button (click)="displayMode = 'mansory-grid'" class="btn btn-sm btn-primary">Grille</button>
            <button (click)="displayMode = 'list'"  class="btn btn-sm btn-primary">Liste</button>
        </div>

        <form (ngSubmit)="search(searchForm)" #searchForm="ngForm">
            <div class="form-group">
                <label>Keyword</label>
                <input
                type="text"
                class="form-control"
                placeholder="Keyword"
                #keyword="ngModel"
                name="keyword"
                [(ngModel)]="form.keyword"
                required-
                />
                <div *ngIf="keyword?.invalid && (keyword.dirty || keyword.touched)">
                    <div *ngIf="keyword.errors.required">
                        Keyword is required.
                    </div>
                    <div *ngIf="keyword.invalid">
                        Keyword is invalid.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="search-results" infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="50"
        (scrolled)="showMoreImages()">


        <!-- Affichage en grille de brique -->
        <ng-masonry-grid *ngIf="displayMode === 'mansory-grid'" 
            [masonryOptions]="masonryOptions"
            [useAnimation]="true" 
            [useImagesLoaded]="true" 
            [scrollAnimationOptions]="scrollAnimationOptions">
            <ng-masonry-grid-item id="{{ 'masonry-item-' + i }}" *ngFor="let picture of masonryImages; let i = index"
                class="masonry-item" [style.width.px]="imageWidth">
                <img [src]="picture.picture">

            </ng-masonry-grid-item>
        </ng-masonry-grid>


        <!-- Affichage en Liste -->
        <div *ngIf="displayMode === 'list'" class="flex-column">
            <div class=" card m-3" id="{{ 'list-item-' + i }}" *ngFor="let picture of masonryImages; let i = index">
                <img class="img-fluid-full" [src]="picture.picture">
            </div>
        </div>



    </div>

</div>
