<div class="container ">
    <div class="d-flex justify-content-between pt-3 box-search">
        <!--<div class="btn-group">
            <button (click)="displayMode = 'mansory-grid'" class="btn btn-sm btn-primary">Grille</button>
            <button (click)="displayMode = 'list'"  class="btn btn-sm btn-primary">Liste</button>
        </div>-->
        <form (ngSubmit)="search(filterForm)" #searchFormRef="ngForm"
        [formGroup]="filterForm" 
         class="w-100 form-inline md-form form-sm">

            <input
            type="text"
            aria-label="Search"
            class="form-control form-control-sm input-search w-75"
            placeholder="Keyword"
            name="keyword"
            formControlName="keyword"
            required-
            />
            <mdb-icon fas icon="search" class="icon-search" aria-hidden="true"></mdb-icon>
            <div *ngIf="keyword?.invalid && (keyword.dirty || keyword.touched)">
                <div *ngIf="keyword.errors.required">
                        Keyword is required.
                    </div>
                    <div *ngIf="keyword.invalid">
                        Keyword is invalid.
                    </div>
                </div>
        </form>
    </div>




    <div class="search-results" infiniteScroll [infiniteScrollDistance]="10" [infiniteScrollThrottle]="50"
        (scrolled)="showMoreImages()">


        <!-- Affichage en grille de brique -->
        <ng-masonry-grid *ngIf="displayMode === 'mansory-grid'" 
            [masonryOptions]="{
                transitionDuration: '0.8s',
                gutter: 10,
                columnWidth: 360,
                fitWidth: true
            }"
            [useAnimation]="true" 
            [useImagesLoaded]="true" 
            [scrollAnimationOptions]="{
                animationEffect: 'effect-2',
                minDuration: 0.4,
                maxDuration: 0.7
            }">
            <ng-masonry-grid-item id="{{ 'masonry-item-' + i }}" *ngFor="let picture of masonryImages; let i = index"
                class="masonry-item" style="width: 350px;">
                <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img [src]="picture.picture" class="img-fluid">
                    <div class="mask flex-center waves-effect waves- rgba-orange-strong" (click)="navigateToImage(picture.id)">
                        <div *ngIf="picture.author">
                            <img [src]="picture.author.avatar" class="avatar  mx-auto white rounded-circle z-depth-0 mb-3">
                            <h5 class="white-text ">{{ picture.author.fullname }}</h5>
                        </div>
                    </div>
                </div>
  
                <app-animated-like [liked]='true' (like)="liked(picture.id, $event)"></app-animated-like>   
            </ng-masonry-grid-item>
        </ng-masonry-grid>


        <!-- Affichage en Liste -->
        <div *ngIf="displayMode === 'list'" class="flex-column">
            <div class=" card m-3" id="{{ 'list-item-' + i }}" *ngFor="let picture of masonryImages; let i = index">
                <img class="img-fluid-full" [src]="picture.picture">
            </div>
        </div>



    </div>

</div>