/* You can add global styles to this file, and also import other style files */
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';

// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_contacts-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_magazine-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_pricing-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_social-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_team-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_templates-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/sections-pro/_testimonials-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/addons-pro/_blog-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/addons-pro/_chat-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/addons-pro/_ecommerce-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/addons-pro/_steppers-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/addons-pro/_timeline-pro.scss';
// @import '~ng-uikit-pro-standard/assets/scss/addons-pro/_timelines-pro.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}

::selection {
  color: #fff;
  background-color: #8167a9;
}

::-moz-selection {
  color: #fff;
  background-color: #8167a9;
}

@import "~src/app/app-scrollbar.component";
@import "~src/app/main/main-layout/navigation/navigation.component";


.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}

.login-card {
  background-color: rgba(229, 228, 255, 0.2);
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.datepickers .md-form,
.inputs .md-form {
  margin-top: 0 !important;
}

.modal-full-height.modal-bottom>.modal-content {
  position: absolute !important;
  bottom: 0;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.modal-body {

  & > .icon-close {
    font-size: 1.6em;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
  }
}

// NAVBAR

.navbar {
  background-color: #fff0;
  color: #424242;
}

// FOOTER
.page-footer {
  background-color: #6f717800;
}




//
//  INPUT CUSTOM
//


.error-mark {
  font-size: 1.4em;
}

%input-invalid {
  border: 1px solid red !important;
}

:host ::ng-deep {

  .form-control {

    &:invalid:not(.ng-pristine) {
      @extend %input-invalid;
    }

    &.ng-invalid:not(.ng-pristine) {
      @extend %input-invalid;
    }

  }

  input[type="date"]:invalid:not(.ng-pristine) {
    @extend %input-invalid;

  }

}


$yourColor: green;

//To change a focus-color use this code:
$focus-color: #4285f4;
$error-color: #ff3547 ;
$error-color-soft: #ff354730 ;


//input[type=text]:focus:not([readonly]),
//input[type=password]:focus:not([readonly]),
//input[type=email]:focus:not([readonly]),
//input[type=url]:focus:not([readonly]),
//input[type=time]:focus:not([readonly]),
//input[type=date]:focus:not([readonly]),
//input[type=datetime-local]:focus:not([readonly]),
//input[type=tel]:focus:not([readonly]),
//input[type=number]:focus:not([readonly]),
//input[type=search-md]:focus:not([readonly]),
//textarea.md-textarea:focus:not([readonly]) {
//  border-bottom: 1px solid $yourColor;
//  box-shadow: 0 1px 0 0 $yourColor;
//}


.md-form input[type=text],
.md-form input[type=password],
.md-form input[type=email],
.md-form input[type=url],
.md-form input[type=time],
.md-form input[type=date],
.md-form input[type=datetime-local],
.md-form input[type=tel],
.md-form input[type=number],
.md-form input[type=search-md],
.md-form input[type=search],
.md-form textarea.md-textarea {

  &.ng-invalid.ng-touched:not(.ng-pristine) {
    box-shadow: 0 1px 0 0 $error-color-soft;
    border-bottom: 1px solid $error-color-soft;
  }

  &:focus:not([readonly]) {

    box-shadow: 0 1px 0 0 $focus-color;
    border-bottom: 1px solid $focus-color;

    &.ng-invalid {
      box-shadow: 0 1px 0 0 $error-color;
      border-bottom: 1px solid $error-color;
    }

  }
}

//
// NAVBAR
//

// @media (min-width: 769px) {
.navbar:not(.top-nav-collapse) {
  box-shadow: none;
}

.navbar:not(.top-nav-collapse) {
  background: 0 0;
}
//.navbar, .page-footer {
//  // background-color: #23242a;
//  background-color: rgba(0, 0, 0, 0.12);
//}
// }


// A fix for default background color of input in the browser

@-webkit-keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

@keyframes autofill {
  to {
    color: #666;
    background: transparent; } }

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }


// Hide Sentry Powered By
.sentry-error-embed {
  .close {
    color: red;
  }
  .powered-by {
    display: none !important;
  }
}


// IMAGES 
.img-fluid-height {
  height: 100%;
  width: auto;
}

.img-fluid-full {
  width: 100%;
  height: auto;
}

