<div id="carousel">

  <!-- <img src="../../../../../assets/img/pharmacielogo.jpg" alt="pharmacie logo" style="width: 100%;position: relative;"/> -->
<mdb-carousel [isControls]="false" [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" style="height: 250px;" src="./assets/images/background/banner.jpg">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="height: 250px;" src="./assets/images/background/t+¬te-image-01.jpg">
  </mdb-carousel-item>
</mdb-carousel>

</div>

<router-outlet></router-outlet>