<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
		<!--begin::Aside-->
		<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" style="background-image: url(./assets/media//bg/bg-4.jpg);">
			<div class="kt-grid__item">
				<a href="javascript:;" class="kt-login__logo">
					<img src="/assets/images/logo.png" alt="">
				</a>
			</div>
			<div class="container py-md-3 py-sm-5">
				<div class=" d-flex flex-column align-items-center">
					<h3 class="h1">Welcome to Tameri!</h3>
					<h4 class="h3 grey-text">The <strong class="black-text">big</strong> ultimate inspiration ground for designer.</h4>
				</div>
			</div>
		</div>
		<!--begin::Aside-->

		<!--begin::Content-->
		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			<main class="contrainer-fluid ">
				<div class="card z-depth-3 m-md-5">
					<div class="row">
						<div class="col-md-6 p-0">
							<a [routerLink]="['/']" class="home-btn text-black-50">
								<mdb-icon fas icon="home"></mdb-icon>
								Accueil
							</a>
							<router-outlet></router-outlet>
						</div>
						<div class="col-md-6 p-0">
							<div class="view h-100 p-md-5 p-sm-3"
								 style="background-image: url(./assets/images/bg/bg-4.jpg)">
								<div class="d-flex flex-column  ">
									<!-- <h3 class="m-login__welcome">
                                        TAMERI BIG
                                    </h3> -->

									<div class="mb-5">
										<div style="    position: absolute;
											bottom: 1em;
											right: 3em;
											background-color: white;
										border-radius: 2.5em;
										padding: 30px; display: inline-block;">
											<img alt="" class="m-brand__logo-default" src="./assets/images/logo.png"
												 style="height: 4em;"/>
										</div>
									</div>

									<p class="heading h3-responsive white-text">
										<strong>
											Africa inspiration, imagination, holistic thinking, intuition, arts, rhythm,
											nonverbal cues, feelings visualization, daydreaming
										</strong>
										<br>
										<br>
										Share your right brain.
										<br>
										<small>Kamit's brains,</small>
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</main>

		</div>
		<!--end::Content-->
	</div>
</div>
