<div class="row" style="height: 100vh">
    <div class="col-md-6 p-0 order-md-1 scrollbar scrollbar-style-10" style="overflow-y: scroll">
		<a [routerLink]="['/']" class="home-btn text-black-50">
			<mdb-icon fas icon="home"></mdb-icon>
			Accueil
		</a>
		<router-outlet></router-outlet>
	</div>
	<div class="col-md-6 p-0">
        <div class="view h-100 p-md-5 p-sm-3 login-intro-bg"
             style="background-image: url(./assets/images/background/login-intro.jpeg)">
			<div class="d-flex flex-column  ">
				<!-- <h3 class="m-login__welcome">
                    TAMERI BIG
                </h3> -->


                <p class="d-none heading h5-responsive white-text">
					<strong>
						Africa inspiration, imagination, holistic thinking, intuition, arts, rhythm,
						nonverbal cues, feelings visualization, daydreaming
					</strong>
					<br>
					<br>
					Share your right brain.
					<br>
					<small>Kamit's brains,</small>
				</p>
			</div>
		</div>
	</div>

</div>
