<div class="flex-center- p-5 d-flex flex-column align-items-center">
	<div class="relative">

		<div class="login__wrapper">
			<div class="flex-center">
				<img class="noselect img-fluid compteur" src="assets/images/compteur.png"
					 style="transform: scale(0.75) translateX(-10px); height: 196px;">
			</div>
			<div class="m-login__signin">
				<div class="m-login__head">
					<kt-auth-notice></kt-auth-notice>

					<form #f="ngForm" (ngSubmit)="f.form.valid && submit()" [formGroup]="loginForm" action=""
						  autocomplete="off" class="m-login__form m-form mt-5">
						<div class="md-form mt-3">
							<mdb-icon class="prefix" fas icon="envelope"></mdb-icon>
							<input autocomplete="off" formControlName="email" id="email" mdbInput mdbValidate
								   name="email"
								   placeholder="Email" type="text">
							<label for="email">E-mail</label>
							<mdb-error *ngIf="isControlHasError('email','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mdb-error>
							<ndb-error *ngIf="isControlHasError('email','email')">
								<strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
							</ndb-error>
							<mdb-error *ngIf="isControlHasError('email','minLength')">
								<strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
							</mdb-error>
							<mdb-error *ngIf="isControlHasError('email','maxLength')">
								<strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
							</mdb-error>
						</div>
						<div class="md-form mt-5">
							<mdb-icon class="prefix" fas icon="key"></mdb-icon>
							<input autocomplete="off" formControlName="password" id="password" mdbInput
								   mdbValidate name="password" placeholder="Password" type="password">
							<label for="password">Mot de passe</label>
							<mdb-error *ngIf="isControlHasError('password','required')">
								<strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
							</mdb-error>
						</div>
						<div class="row m-login__form-sub">
							<!-- <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="remember" #remember="ngModel">
                                    Remember me
                                    <span></span>
                                </label>
                            </div> -->
							<div class="col text-center">
								<a class="m-link" href="javascript:;" id="m_login_forget_password"
								   routerLink="/auth/forgot-password">
									<small>Mot de passe oublié</small>
								</a>
							</div>
						</div>
						<div class="flex-center mt-3">
							<button [disabled]="loading" [ngClass]="{'disabled': loading}" color="primary"
									mdbBtn
									rounded="true">
								<span *ngIf="loading" aria-hidden="true" class="spinner-grow spinner-grow-sm text-light"
									  role="status"></span>
								<!--								<mdb-spinner *ngIf="loading"  class="mr-1" spinnerColor="blue" spinnerType="small" ></mdb-spinner>-->
								<span> Connexion </span>
							</button>
						</div>
					</form>

					<!--begin::Options-->
					<div class="my-3 mt-5 kt-login__options">
						<a color="fb" href="https://www.facebook.com/keenthemes/" mdbBtn rounded="true" target="_blank">
							<i class="fab fa-facebook-f"></i>
							<span class="sr-only">Facebook</span>
						</a>

						<a color="tw" href="https://twitter.com/keenthemes/" mdbBtn rounded="true" target="_blank">
							<i class="fab fa-twitter"></i>
							<span class="sr-only">Twitter</span>
						</a>

						<a color="gplus" href="javascript:;" mdbBtn rounded="true">
							<i class="fab fa-google"></i>
							<span class="sr-only">Google</span>
						</a>
					</div>
					<!--end::Options-->
				</div>
			</div>
		</div>
		<div class="fade show text-center h5 mt-5"
			 role="alert">
			vous n'avez un compte? <br>
			<a [routerLink]="['../register']" class="h4" href="javascript:;">
				Créer un compte
			</a>
		</div>
	</div>
</div>
