<div class="fade show text-right h6 mb-1 py-3 px-5 bg-white "
     role="alert"> Pas encore inscrit?
    <a [routerLink]="['../register']" class="h5 ml-2" href="javascript:;">
        Crée un compte
    </a>
</div>
<div class="flex-center- p-5 d-flex flex-column align-items-center bg-white">
    <div class="relative">

        <div class="login__wrapper">
            <div class="flex-center">
                <img class="noselect img-fluid compteur" src="assets/images/compteur.png"
                     style="transform: scale(0.75) translateX(-40px); height: 196px;">
            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <kt-auth-notice></kt-auth-notice>

                    <form #f="ngForm" (ngSubmit)="f.form.valid && submit()" [formGroup]="loginForm" action=""
                          autocomplete="off" class="m-login__form m-form mt-5">

                        <div class="form-group">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <mdb-icon class="prefix" fas icon="envelope"></mdb-icon>
                                    </div>
                                </div>
                                <input autocomplete="off" class="form-control" formControlName="email" id="email"
                                       mdbInput mdbValidate
                                       name="email"
                                       placeholder="Email" type="text">
                            </div>
                            <mdb-error *ngIf="isControlHasError('email','required')">
                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                            </mdb-error>
                            <mdb-error *ngIf="isControlHasError('email','email')">
                                <strong>{{ 'AUTH.VALIDATION.INVALID_FIELD' | translate }}</strong>
                            </mdb-error>
                            <mdb-error *ngIf="isControlHasError('email','minLength')">
                                <strong>{{ 'AUTH.VALIDATION.MIN_LENGTH_FIELD' | translate }} 3</strong>
                            </mdb-error>
                            <mdb-error *ngIf="isControlHasError('email','maxLength')">
                                <strong>{{ 'AUTH.VALIDATION.MAX_LENGTH_FIELD' | translate }} 320</strong>
                            </mdb-error>
                        </div>

                        <div class="form-group">

                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <mdb-icon class="prefix" fas icon="key"></mdb-icon>
                                    </div>
                                </div>
                                <input autocomplete="off" class="form-control" formControlName="password" id="password"
                                       mdbInput
                                       mdbValidate name="password" placeholder="Password" type="password">
                            </div>
                            <mdb-error *ngIf="isControlHasError('password','required')">
                                <strong>{{ 'AUTH.VALIDATION.REQUIRED_FIELD' | translate }}</strong>
                            </mdb-error>
                        </div>

                        <div class="row m-login__form-sub">
                            <!-- <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--focus">
                                    <input type="checkbox" name="remember" #remember="ngModel">
                                    Remember me
                                    <span></span>
                                </label>
                            </div> -->
                        </div>
                        <div class="flex-center mt-4">

                            <div class="col text-left p-0 pr-5" style="min-width: 250px">
                                <a class="m-link h6" href="javascript:;" id="m_login_forget_password"
                                   [queryParams]="{email: loginForm.get('email').value}"
                                   queryParamsHandling="merge" routerLink="/auth/forgot-password">
                                    <span>Mot de passe oublié?</span>
                                </a>
                            </div>
                            <button [disabled]="loading" [ngClass]="{'disabled': loading}" class="m-0 z-depth-1"
                                    color="primary"
                                    mdbBtn
                                    rounded="true">
								<span *ngIf="loading" aria-hidden="true" class="spinner-grow spinner-grow-sm text-light"
                                      role="status"></span>
                                <!--								<mdb-spinner *ngIf="loading"  class="mr-1" spinnerColor="blue" spinnerType="small" ></mdb-spinner>-->
                                <span> Connexion </span>
                            </button>
                        </div>
                    </form>

                    <!--begin::Options-->
                    <div class="kt-login__options">
                        <h6> Connectez vous avec votre reseau </h6>
                        <P class="w-100"></P>
                        <a (click)="loginWithFacebook()" class="z-depth-1"
                           color="fb" mdbBtn
                           rounded="true" target="_blank">
                            <span *ngIf="loadingSocialFB" aria-hidden="true"
                                  class="spinner-grow spinner-grow-sm text-light"
                                  role="status"></span>
                            <i *ngIf="!loadingSocialFB" class="fab fa-facebook-f"></i>
                            <span *ngIf="!loadingSocialFB" class="sr-only">Facebook</span>
                        </a>

                        <a class="d-none z-depth-1" color="tw" href="javascript:;" mdbBtn rounded="true"
                           target="_blank">
                            <i class="fab fa-twitter"></i>
                            <span class="sr-only">Twitter</span>
                        </a>

                        <a (click)="loginWithGoogle()" class="z-depth-1" color="gplus"
                           href="javascript:;" mdbBtn rounded="true">
                            <span *ngIf="loadingSocialGoogle" aria-hidden="true"
                                  class="spinner-grow spinner-grow-sm text-light"
                                  role="status"></span>
                            <i *ngIf="!loadingSocialGoogle" class="fab fa-google"></i>
                            <span *ngIf="!loadingSocialGoogle" class="sr-only">Google</span>
                        </a>
                    </div>
                    <!--end::Options-->
                </div>
            </div>
        </div>

    </div>
</div>
